<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warehouse">
            <h2><span>Warehouse</span> {{warehouse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tên kho hàng</span></dt>
                <dd>
                    <span>{{warehouse.warehouseName}}</span>
                </dd>
                <dt><span>Tên văn phòng</span></dt>
                <dd>
                    <span>{{office.officeName}}</span>
                </dd>
                <dt><span>Mã nhân viên kho</span></dt>
                <dd>
                    <span>{{warehouse.keeperId}}</span>
                </dd>               
                <dt><span>Mã Đường/Phố</span></dt>
                <dd>
                    <span>{{warehouse.streetId}}</span>
                </dd>
                <dt><span>Mã kho hàng Master</span></dt>
                <dd>
                    <span>{{warehouse.masterWarehouseId}}</span>
                </dd>
                <dt><span>Địa chỉ</span></dt>
                <dd>
                    <span>{{warehouse.address}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{warehouse.createDate}}</span>
                </dd>
                <dt><span>Ngày cập nhật</span></dt>
                <dd>
                    <span>{{warehouse.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/warehouse', warehouse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
