<div class="row justify-content-center">
    <div class="col-8">
        <br>
        <br>
        <br>
        <br>
        <br>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-warehouse-heading" style="font-weight: 700;">Thông tin kho hàng</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <i style="color: red;">{{offices.length === 0 ? 'Không còn Văn phòng nào chưa có Kho hàng' : ''}}</i>
                <div class="form-group" [hidden]="!warehouse.id">
                    <label for="id">Mã số</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="warehouse.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_warehouseName">Tên kho hàng</label>
                    <input type="text" class="form-control" name="warehouseName" id="field_warehouseName"
                        [(ngModel)]="warehouse.warehouseName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_keeperId">Văn phòng trực thuôc</label>
                    <ng-select [clearable]="true" [hideSelected]="true" [items]="this.offices" bindLabel="officeName"
                        id="field_officeId" name="field_officeId" [ngModelOptions]="{standalone: true}" (change)="changeUser()"
                        [(ngModel)]="this.selectedOffice">
                        <ng-option *ngFor="let item of offices">{{item.officeName}}</ng-option>
                    </ng-select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_keeperId">Nhân viên kho</label>
                    <input type="text" class="form-control" id="empId" name="empId" value="{{selectedUser.firstName + ' ' + selectedUser.lastName}}" disabled>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{selectedOffice ? selectedOffice.address : ''}}" disabled>
                </div>
            </div>
            <br>
            <br>
            <div style="float: right;">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Hủy</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;&nbsp;<span>Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>
