<div>
    <br>
    <br>
    <br>
    <h2 id="page-heading">
        <span>Quản lý danh sách kho hàng</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-warehouse" [routerLink]="['/warehouse/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Tạo mới kho hàng
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="warehouses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Mã số</span></th>
            <th><span>Tên kho hàng</span></th>
            <th><span>Tên văn phòng</span></th>
            <th><span>Địa chỉ</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let w of warehouses; trackBy: trackId;">
                    <td>{{w.warehouseDTO.id}}</td>
                    <td>{{w.warehouseDTO.warehouseName}}</td>
                    <td>{{w.officeName}}</td>
                    <td>{{w.warehouseDTO.address}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'warehouse/'+ w.warehouseDTO.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Xóa</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
