<div>
    <h2 id="page-heading">
        <span>Invoice Packages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-package" [routerLink]="['/invoice-package/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Invoice Package
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoicePackages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Mã số</span></th>
            <th><span>Mã hóa đơn</span></th>
            <th><span>Item Total</span></th>
            <th><span>Weight</span></th>
            <th><span>Height</span></th>
            <th><span>Length</span></th>
            <th><span>Width</span></th>
            <th><span>Delivered</span></th>
            <th><span>Trạng thái</span></th>
            <th><span>Ghi chú</span></th>
            <th><span>Warehouse Id</span></th>
            <th><span>Ngày khởi tạo</span></th>
            <th><span>Ngày cập nhật</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoicePackage of invoicePackages ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-package', invoicePackage.id, 'view' ]">{{invoicePackage.id}}</a></td>
                <td>{{invoicePackage.invoiceHeaderId}}</td>
                <td>{{invoicePackage.itemTotal}}</td>
                <td>{{invoicePackage.weight}}</td>
                <td>{{invoicePackage.height}}</td>
                <td>{{invoicePackage.length}}</td>
                <td>{{invoicePackage.width}}</td>
                <td>{{invoicePackage.delivered}}</td>
                <td>{{invoicePackage.status}}</td>
                <td>{{invoicePackage.note}}</td>
                <td>{{invoicePackage.warehouseId}}</td>
                <td>{{invoicePackage.createDate | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{invoicePackage.updateDate | date:'yyyy-MM-dd HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-package', invoicePackage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Chi tiết</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-package', invoicePackage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-package/'+ invoicePackage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
