<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoicePackage">
            <h2><span>Invoice Package</span> {{invoicePackage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã hóa đơn</span></dt>
                <dd>
                    <span>{{invoicePackage.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Item Total</span></dt>
                <dd>
                    <span>{{invoicePackage.itemTotal}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{invoicePackage.weight}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{invoicePackage.height}}</span>
                </dd>
                <dt><span>Length</span></dt>
                <dd>
                    <span>{{invoicePackage.length}}</span>
                </dd>
                <dt><span>Width</span></dt>
                <dd>
                    <span>{{invoicePackage.width}}</span>
                </dd>
                <dt><span>Delivered</span></dt>
                <dd>
                    <span>{{invoicePackage.delivered}}</span>
                </dd>
                <dt><span>Trạng thái</span></dt>
                <dd>
                    <span>{{invoicePackage.status}}</span>
                </dd>
                <dt><span>Ghi chú</span></dt>
                <dd>
                    <span>{{invoicePackage.note}}</span>
                </dd>
                <dt><span>Warehouse Id</span></dt>
                <dd>
                    <span>{{invoicePackage.warehouseId}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{invoicePackage.createDate}}</span>
                </dd>
                <dt><span>Ngày cập nhật</span></dt>
                <dd>
                    <span>{{invoicePackage.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-package', invoicePackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
