<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="street">
            <h2><span>Street</span> {{street.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Street Name</span></dt>
                <dd>
                    <span>{{street.streetName}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{street.createDate}}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{street.updateDate}}</span>
                </dd>
                <dt><span>Sub District Id</span></dt>
                <dd>
                    <div *ngIf="street.subDistrictIdId">
                        <a [routerLink]="['/sub-district', street.subDistrictIdId, 'view']">{{street.subDistrictIdId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/street', street.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
