<div class="row justify-content-center">
    <div class="col-lg-11">
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div class="row" style="border-bottom: 2px solid;">
                <div class="col-lg-8 col-md-12 col-md-12">
                    <h2 style="font-weight: bold;" id="page-heading">
                        <span>Quản lý xuất hàng từ kho</span>
                    </h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <jhi-alert></jhi-alert>
        <br />
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="invoiceNumber">Số hóa đơn</label>
                            <input type="text" class="form-control" placeholder="(ALL)"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedInvoiceNo"
                                value="{{selectedInvoiceNo}}">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="status">Tình trạng đơn hàng</label>
                            <input type="text" class="form-control"
                                value="{{common.processInvoiceStatus(selectedInvoiceStatus)}}" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="status">Kho nhận hàng</label>
                            <ng-select [clearable]="true" [hideSelected]="true" [items]="listWarehouse"
                                bindLabel="warehouseName" id="field_warehouse" name="field_warehouse"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedWarehouse">
                                <ng-option *ngFor="let item of listWarehouse">{{item.warehouseName}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                        <div class="form-group">
                            <button style="margin-top: 30px" id="search" name="search" class="btn btn-primary"
                                (click)="this.loadAll()">
                                <fa-icon [icon]="'search'"></fa-icon>
                                <span>Tìm kiếm</span>
                            </button>
                        </div>
                    </div>
                </div>
                <label for="createOn">Ngày tạo đơn:</label>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="createOn">Từ ngày</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="createOn"
                                    [(ngModel)]="this.fromTime" ngbDatepicker #b="ngbDatepicker" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="this.clearDatepicker(2)"
                                        type="button">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="updateOn">Đến ngày</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="updateOn"
                                    [(ngModel)]="this.toTime" ngbDatepicker #c="ngbDatepicker" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="this.clearDatepicker(3)"
                                        type="button">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="c.toggle()" type="button">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6"></div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                        <div class="form-group">
                            <button id="jh-create-entity" (click)="exportAll()" style="margin-top: 30px"
                                [disabled]="invoicePackageShipments.length === 0" class="btn btn-success">
                                <fa-icon [icon]="'check'"></fa-icon>
                                <span> Xuất Kho </span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <br>
                <br>
                <br>
                <div class="table-responsive" *ngIf="!invoicePackageShipments || invoicePackageShipments.length === 0">
                    <h2>Không tìm thấy dữ liệu</h2>
                </div>
                <div class="table-responsive" *ngIf="invoicePackageShipments && invoicePackageShipments.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" [(ngModel)]="this.all" (change)="checkAll($event)">
                                </th>
                                <th>Số hóa đơn</th>
                                <th>Tình trạng đơn hàng</th>
                                <th>Số gói hàng</th>
                                <th>Kích thước chi tiết</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of invoicePackageShipments ;let i = index">
                                <td><input type="checkbox" id="chkBox{{i}}" [(ngModel)]="selectedCheckBox[i]"
                                        (change)="checked(i, $event)"></td>
                                <td>{{object.invoiceHeader.invoiceNo}}</td>
                                <td>{{common.processInvoiceStatus(object.invoiceHeader.status)}}</td>
                                <td>{{object.invoicePackageList.length}}</td>
                                <td>
                                    <span *ngFor="let pk of object.invoicePackageList ; let pi = index">
                                        #{{pi}}: {{pk.length}}(cm) x {{pk.width}}(cm) x {{pk.height}}(cm):
                                        {{pk.weight}}(g) <br />
                                    </span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                            [routerLink]="['/invoice-header', object.invoiceHeader.id, 'view']"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">Chi tiết</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="invoicePackageShipments && invoicePackageShipments.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
                        </jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
