<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exportInvoicePackage">
            <h2><span>Xuất gói hàng</span> {{exportInvoicePackage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã hóa đơn</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Item Total</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.itemTotal}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.weight}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.height}}</span>
                </dd>
                <dt><span>Length</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.length}}</span>
                </dd>
                <dt><span>Width</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.width}}</span>
                </dd>
                <dt><span>Delivered</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.delivered}}</span>
                </dd>
                <dt><span>Trạng thái</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.status}}</span>
                </dd>
                <dt><span>Ghi chú</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.note}}</span>
                </dd>
                <dt><span>Warehouse Id</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.warehouseId}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.createDate}}</span>
                </dd>
                <dt><span>Ngày chỉnh sửa</span></dt>
                <dd>
                    <span>{{exportInvoicePackage.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/export-invoice-package', exportInvoicePackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
