<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="invoiceHeader">
            <div class="row">
                <div class="col-12">
                    <h2><b><span>Invoice: </span> {{invoiceHeader.invoiceNo}}</b></h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h4><span>Create Time: </span>{{invoiceHeader.createDate | date:'yyyy-MM-dd HH:mm'}}</h4>
                </div>
            </div>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="col-12">
                <table class="table table-responsive">
                    <tr>
                        <th>Customer: </th>
                        <td>{{this.customer.firstName + ' ' + this.customer.lastName}}</td>
                    </tr>
                </table>
            </div>
            <!-- <dl class="row-md jh-entity-details">
                <dt><span>Customer Id</span></dt>
                <dd>
                    <span>{{invoiceHeader.customerId}}</span>
                </dd>
                <dt><span>Office Id</span></dt>
                <dd>
                    <span>{{invoiceHeader.officeId}}</span>
                </dd>
                <dt><span>Invoice No</span></dt>
                <dd>
                    <span>{{invoiceHeader.invoiceNo}}</span>
                </dd>
                <dt><span>Invoice Type</span></dt>
                <dd>
                    <span>{{invoiceHeader.invoiceType}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{invoiceHeader.status}}</span>
                </dd>
                <dt><span>Start Address</span></dt>
                <dd>
                    <span>{{invoiceHeader.startAddress}}</span>
                </dd>
                <dt><span>Start Street Id</span></dt>
                <dd>
                    <span>{{invoiceHeader.startStreetId}}</span>
                </dd>
                <dt><span>Destination Address</span></dt>
                <dd>
                    <span>{{invoiceHeader.destinationAddress}}</span>
                </dd>
                <dt><span>Destination Street Id</span></dt>
                <dd>
                    <span>{{invoiceHeader.destinationStreetId}}</span>
                </dd>
                <dt><span>Sub Total</span></dt>
                <dd>
                    <span>{{invoiceHeader.subTotal}}</span>
                </dd>
                <dt><span>Tax Amount</span></dt>
                <dd>
                    <span>{{invoiceHeader.taxAmount}}</span>
                </dd>
                <dt><span>Total Due</span></dt>
                <dd>
                    <span>{{invoiceHeader.totalDue}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{invoiceHeader.note}}</span>
                </dd>
                <dt><span>Cancel</span></dt>
                <dd>
                    <span>{{invoiceHeader.cancel}}</span>
                </dd>
                <dt><span>Cancel Reason</span></dt>
                <dd>
                    <span>{{invoiceHeader.cancelReason}}</span>
                </dd>
                <dt><span>Customer Confirm</span></dt>
                <dd>
                    <span>{{invoiceHeader.customerConfirm}}</span>
                </dd>
                <dt><span>Change Note</span></dt>
                <dd>
                    <span>{{invoiceHeader.changeNote}}</span>
                </dd>
                <dt><span>Finish</span></dt>
                <dd>
                    <span>{{invoiceHeader.finish}}</span>
                </dd>
                <dt><span>Due Date</span></dt>
                <dd>
                    <span>{{invoiceHeader.dueDate}}</span>
                </dd>
                <dt><span>Finish Date</span></dt>
                <dd>
                    <span>{{invoiceHeader.finishDate}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{invoiceHeader.createDate}}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{invoiceHeader.updateDate}}</span>
                </dd>
            </dl> -->

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-header', invoiceHeader.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
