<form name="deleteForm">
    <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 700;">Bảng giá dịch vụ vận chuyển cá nhân</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <table class="table">
            <thead>
                <th> Cân nặng (kg)</th>
                <th> Thành tiền </th>
            </thead>
            <tbody>
                <tr>
                    <td> Dưới 0.25 kg</td>
                    <td> {{9000 | currency:'VND'}} </td>
                </tr>
                <tr>
                    <td> Từ 0.25kg đến 0.50 kg</td>
                    <td> {{11000 | currency:'VND'}} </td>
                </tr>
                <tr>
                    <td> Từ 0.50kg đến 1.00 kg</td>
                    <td> {{13000 | currency:'VND'}} </td>
                </tr>
                <tr>
                    <td> Từ 1.00kg đến1.50 kg</td>
                    <td> {{16000 | currency:'VND'}} </td>
                </tr>
                <tr>
                    <td> Từ 1.50kg đến 2.00 kg</td>
                    <td> {{20000 | currency:'VND'}} </td>
                </tr>
                <tr>
                    <td> Từ 2.00kg đến 10.00 kg</td>
                    <th>{{15000 | currency:'VND'}} + ({{2500 | currency:'VND'}} x (Số cân nặng)) </th>
                </tr>
                <tr>
                    <td> Từ 10.00kg đến 30.00 kg</td>
                    <th> {{25000 | currency:'VND'}} + ({{1500 | currency:'VND'}} x (Số cân nặng)) </th>
                </tr>
            </tbody>
        </table>
        <br>
        <i>Chúng tôi chỉ nhận gói hàng tối da 30.00 kg</i>
    </div>
    <div class="modal-footer">
        <div class="row justify-content-center">
            <div class="col-12" style="text-align: center;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Đóng</span>
                </button>
            </div>
        </div>
    </div>
</form>
