<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <h2 *ngIf="!this.invoiceHeader.id" id="jhi-invoice-header-heading">Create Invoice</h2>
                <h2 *ngIf="this.invoiceHeader.id"> Edit Invoice: <b>{{this.invoiceHeader.invoiceNo}}</b></h2>
                <br>
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>
                <div class="divider"></div>
                <label class="form-control-label" for="from-address"><b>Customer Information</b></label>
                <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                    <div class="form-group">
                        <label class="form-control-label" for="field_customerId">Customer</label>
                        <ng-select [clearable]="true" [hideSelected]="true" [items]="this.lstUser" bindLabel="email"
                            id="field_customerId" name="field_customerId" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="this.selectedUser" (change)="this.changeUser()">
                            <ng-option *ngFor="let item of lstUser">{{item.email}}</ng-option>
                        </ng-select>
                    </div>
                    <br>
                    <label *ngIf="this.selectedUserProfile && this.selectedUserProfile.id" class="form-control-label"
                        for="">Information</label>
                    <div *ngIf="this.selectedUserProfile && this.selectedUserProfile.id" class="col-lg-12">
                        <table class="table">
                            <tr>
                                <th class="text-left">Full Name</th>
                                <td class="text-left">{{this.selectedUser.firstName + ' ' +this.selectedUser.lastName}}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">Gender</th>
                                <td class="text-left">{{this.selectedUserProfile.gender}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Phone Number</th>
                                <td class="text-left">{{this.selectedUserProfile.phoneNumber}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Address</th>
                                <td class="text-left">{{this.selectedUserProfile.address}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="divider"></div>
                <label class="form-control-label" for="from-address"><b>Invoice Information</b></label>
                <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label" for="field_invoiceType">Loại hóa đơn</label>
                                <input class="form-control" type="text" value="Giao hàng cá nhân" disabled/>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label" for="field_status">Trạng thái</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstInvStatus"
                                    bindLabel="text" bindValue="id" id="field_status" name="field_status"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="this.invoiceHeader.status">
                                    <ng-option *ngFor="let item of lstInvStatus">{{item.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label" for="field_status">Collect Type</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstCollect"
                                    bindLabel="text" bindValue="id" id="field_status" name="field_status"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCollect">
                                    <ng-option *ngFor="let item of lstCollect">{{item.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label" for="customerNote">Customer Note</label>
                                <textarea class="form-control" style="resize: none;" rows="3" id="customerNote"
                                    name="customerNote" [(ngModel)]="this.invoiceHeader.note"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Invoice Package End-->
                    <label class="form-control-label" for="from-address"><b>Package Details</b></label>
                    <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                            <ng-container *ngFor="let item of lstInvoicePackage; let i = index">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-10"> Package #{{i + 1}} </div>
                                            <div class="col-2">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                id="package{{i}}"
                                                name="package{{i}}"
                                                (click)="this.removeInvoicePackageElement(i)">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="weight{{i}}">Weight</label>
                                                    <input placeholder="" class="form-control" step="0.1" min="0"
                                                        type="number" name="weight{{i}}" id="weight{{i}}" [(ngModel)]="item.weight">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="height{{i}}">Height</label>
                                                    <input placeholder="" class="form-control" step="0.1" min="0"
                                                        type="number" name="height{{i}}" id="height{{i}}" [(ngModel)]="item.height">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="width{{i}}">Width</label>
                                                    <input placeholder="" class="form-control" step="0.1" min="0"
                                                        type="number" name="width{{i}}" id="width{{i}}" [(ngModel)]="item.width">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="length{{i}}">Length</label>
                                                    <input placeholder="" class="form-control" step="0.1"
                                                        type="number" name="length{{i}}" id="length{{i}}" [(ngModel)]="item.length">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="note{{i}}">Package Note</label>
                                                    <textarea   class="form-control"
                                                                style="resize: none;"
                                                                rows="3" id="address"
                                                                id="note{{i}}"
                                                                name="note{{i}}"
                                                                [(ngModel)]="item.note">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ng-container>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <button type="button" class="btn btn-primary float-left" (click)="this.addNewInvoicePackageElement()">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    <span class="d-none d-md-inline">Add New Package</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Invoice Detail Start -->
                    <label class="form-control-label" for="from-address"><b>Items Details</b></label>
                    <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                        <ng-container *ngFor="let item of lstInvoiceDetails; let i = index">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-10"> Item #{{i + 1}} </div>
                                        <div class="col-2">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                            id="detail{{i}}"
                                            name="detail{{i}}"
                                            (click)="this.removeInvoiceDetailElement(i)">&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="itemName{{i}}">Item Name</label>
                                                <input placeholder="" class="form-control"
                                                    type="text" name="itemName{{i}}" id="itemName{{i}}" [(ngModel)]="item.itemName">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="itemType{{i}}">Item Type</label>
                                                <input placeholder="" class="form-control"
                                                    type="text" name="itemType{{i}}" id="itemType{{i}}" [(ngModel)]="item.itemType">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="description{{i}}">Package Note</label>
                                                <textarea   class="form-control"
                                                            style="resize: none;"
                                                            rows="3"
                                                            id="description{{i}}"
                                                            name="description{{i}}"
                                                            [(ngModel)]="item.description">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </ng-container>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <button type="button" class="btn btn-primary float-left" (click)="this.addNewInvoiceDetailElement()">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    <span class="d-none d-md-inline">Thêm vật phẩm</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Invoice Detail End -->
                </div>
                <br>
                <div class="divider"></div>
                <br>
                <div class="divider"></div>
                <div class="row" *ngIf="!this.invoiceHeader.id">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <label class="form-control-label" for="from-address"><b>From Address</b></label>
                        <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 5%;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="province">Province/City</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstProvinceFrom" bindLabel="provinceName" id="province"
                                            name="province" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedProvinceFrom" (change)="this.changeCity('from')">
                                            <ng-option *ngFor="let item of lstProvinceFrom">{{item.provinceName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="district">District</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstDistrictFrom" bindLabel="districtName" id="district"
                                            name="district" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedDistrictFrom"
                                            (change)="this.changeDistrict('from')"
                                            [disabled]="!this.selectedProvinceFrom">
                                            <ng-option *ngFor="let item of lstDistrictFrom">{{item.districtName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="subDistrict">Ward/Commune</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstSubDistrictFrom" bindLabel="subDistrictName"
                                            id="subDistrict" name="subDistrict" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedSubDistrictFrom"
                                            (change)="this.changeSubDistrict('from')"
                                            [disabled]="!this.selectedDistrictFrom">
                                            <ng-option *ngFor="let item of lstSubDistrictFrom">{{item.subDistrictName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstStreetFrom" bindLabel="streetName" id="street"
                                            name="street" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedStreetFrom"
                                            [disabled]="!this.selectedSubDistrictFrom">
                                            <ng-option *ngFor="let item of lstStreetFrom">{{item.streetName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" style="resize: none;" rows="3" id="address"
                                            name="address" [(ngModel)]="this.selectedAddressFrom">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <label class="form-control-label" for="to-address">To Address</label>
                        <div name="to-address" style="border: gray solid thin; border-radius: 5px; padding: 5%;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="province">Province/City</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstProvinceTo" bindLabel="provinceName" id="province"
                                            name="province" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedProvinceTo" (change)="this.changeCity('to')">
                                            <ng-option *ngFor="let item of lstProvinceTo">{{item.provinceName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="district">District</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstDistrictTo" bindLabel="districtName" id="district"
                                            name="district" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedDistrictTo" (change)="this.changeDistrict('to')"
                                            [disabled]="!this.selectedProvinceTo">
                                            <ng-option *ngFor="let item of lstDistrictTo">{{item.districtName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="subDistrict">Ward/Commune</label>
                                        <ng-select [clearable]="false" [hideSelected]="true"
                                            [items]="this.lstSubDistrictTo" bindLabel="subDistrictName" id="subDistrict"
                                            name="subDistrict" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedSubDistrictTo"
                                            (change)="this.changeSubDistrict('to')"
                                            [disabled]="!this.selectedDistrictTo">
                                            <ng-option *ngFor="let item of lstSubDistrictTo">{{item.subDistrictName}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstStreetTo"
                                            bindLabel="streetName" id="street" name="street"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedStreetTo"
                                            [disabled]="!this.selectedSubDistrictTo">
                                            <ng-option *ngFor="let item of lstStreetTo">{{item.streetName}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" style="resize: none;" rows="3" id="address"
                                            name="address" [(ngModel)]="this.selectedAddressTo">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="this.invoiceHeader.id">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <label class="form-control-label" for="addressFrom"><b>From Address</b></label>
                        <div class="form-group">
                            <textarea class="form-control" style="resize: none;" rows="3" id="addressFrom"
                                name="addressFrom" [(ngModel)]="this.invoiceHeader.startAddress">
                            </textarea>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <label class="form-control-label" for="addressTo"><b>To Address</b></label>
                        <div class="form-group">
                            <textarea class="form-control" style="resize: none;" rows="3" id="addressTo"
                                name="addressTo" [(ngModel)]="this.invoiceHeader.destinationAddress">
                            </textarea>
                        </div>
                    </div>
                </div>
                <br>

                <div *ngIf="this.invoiceHeader.id" class="form-group">
                    <label class="form-control-label" for="field_dueDate">Ngày giao dự kiến</label>
                    <div class="d-flex">
                        <input id="field_dueDate" type="datetime-local" class="form-control" name="dueDate"
                            [(ngModel)]="dueDate" />
                    </div>
                </div>

                <div *ngIf="this.invoiceHeader.id" class="form-group">
                    <label class="form-control-label" for="field_createDate">Ngày khởi tạo</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="updateDate"
                            [(ngModel)]="createDate" />
                    </div>
                </div>
            </div>
            <!-- <div *jhiHasAnyAuthority="'ROLE_USER'">
                <h2 *ngIf="!this.invoiceHeader.id" id="jhi-invoice-header-heading">1. Select Service</h2>
                <h2 *ngIf="this.invoiceHeader.id">Invoice: <b>{{this.invoiceHeader.invoiceNo}}</b></h2>
                <br>
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>
                <div class="divider"></div>
            </div> -->
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Hủy</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>
