<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="invoiceHeader">
            <div class="row">
                <div class="col-12">
                    <h2><b><span>Invoice: </span> {{invoiceHeader.invoiceNo}}</b></h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h4><span>Create Time: </span>{{invoiceHeader.createDate | date:'yyyy-MM-dd HH:mm'}}</h4>
                </div>
            </div>
            <br>
            <jhi-alert-error></jhi-alert-error>
            <div class="col-12">
                <table class="table" style="width: 100%;">
                    <tr *ngIf="this.customer">
                        <th>Customer: </th>
                        <td>{{this.customer.firstName + ' ' + this.customer.lastName}}</td>
                    </tr>
                    <tr *ngIf="this.office">
                        <th>Office: </th>
                        <td>{{this.office.officeName}}</td>
                    </tr>
                    <tr>
                        <th>Loại hóa đơn: </th>
                        <td>Giao hàng cá nhân</td>
                    </tr>
                    <tr>
                        <th>Tình trạng đơn hàng: </th>
                        <td>{{common.processInvoiceStatus(invoiceHeader.status)}}</td>
                    </tr>
                    <tr>
                        <th>From Address: </th>
                        <td>{{invoiceHeader.startAddress}}</td>
                    </tr>
                    <tr>
                        <th>To Address: </th>
                        <td>{{invoiceHeader.destinationAddress}}</td>
                    </tr>
                    <tr>
                        <th>Customer Note: </th>
                        <td>{{invoiceHeader.note}}</td>
                    </tr>
                </table>
                <div class="card" *ngIf="this.lstInvoicePackage && this.lstInvoicePackage.length > 0">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                        <button class="btn btn-link" (click)="collapsePackage()">
                            Packages
                        </button>
                        </h5>
                    </div>
                    <div id="colPackage" *ngIf="showPackage">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Weight (g)</th>
                                    <th>Height (cm)</th>
                                    <th>Width (cm)</th>
                                    <th>Length (cm)</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of this.lstInvoicePackage; let index = index">
                                    <td>{{index +1}}</td>
                                    <td>{{item.weight}}</td>
                                    <td>{{item.height}}</td>
                                    <td>{{item.width}}</td>
                                    <td>{{item.length}}</td>
                                    <td>{{item.note}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="card" *ngIf="this.lstInvoiceDetails && this.lstInvoiceDetails.length > 0">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                        <button class="btn btn-link" (click)="collapseItem()">
                            Items
                        </button>
                        </h5>
                    </div>
                    <div id="colItem" *ngIf="showItem">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of this.lstInvoiceDetails; let index = index">
                                    <td>{{index +1}}</td>
                                    <td>{{item.itemName}}</td>
                                    <td>{{item.itemType}}</td>
                                    <td>{{item.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h4 class="float-right">Sub Total: <b>{{invoiceHeader.subTotal | currency:'VND'}}</b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="float-right">Tax Amount: <b>{{invoiceHeader.taxAmount | currency:'VND'}}</b></h4>
                </div>
            </div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-12">
                    <h2 class="float-right">Total: <b>{{invoiceHeader.totalDue | currency:'VND'}}</b></h2>
                </div>
            </div>
            <br>
            <!-- <dl class="row-md jh-entity-details">
                <dt><span>Ghi chú</span></dt>
                <dd>
                    <span>{{invoiceHeader.note}}</span>
                </dd>
                <dt><span>Hủy</span></dt>
                <dd>
                    <span>{{invoiceHeader.cancel}}</span>
                </dd>
                <dt><span>Lý do hủy</span></dt>
                <dd>
                    <span>{{invoiceHeader.cancelReason}}</span>
                </dd>
                <dt><span>Khách hàng xác nhận</span></dt>
                <dd>
                    <span>{{invoiceHeader.customerConfirm}}</span>
                </dd>
                <dt><span>Change Note</span></dt>
                <dd>
                    <span>{{invoiceHeader.changeNote}}</span>
                </dd>
                <dt><span>Finish</span></dt>
                <dd>
                    <span>{{invoiceHeader.finish}}</span>
                </dd>
                <dt><span>Ngày giao dự kiến</span></dt>
                <dd>
                    <span>{{invoiceHeader.dueDate}}</span>
                </dd>
                <dt><span>Finish Date</span></dt>
                <dd>
                    <span>{{invoiceHeader.finishDate}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{invoiceHeader.createDate}}</span>
                </dd>
                <dt><span>Ngày chỉnh sửa</span></dt>
                <dd>
                    <span>{{invoiceHeader.updateDate}}</span>
                </dd>
            </dl> -->
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
            </button>
        </div>
    </div>
</div>
