<div class="row justify-content-center">
    <div class="col-11">
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="border-bottom: 2px solid;">
            <h2 style="font-weight: bold;" id="page-heading">
                <span>Lịch sử đơn hàng</span>
            </h2>
        </div>
        <br>
        <br>
        <jhi-alert></jhi-alert>
        <br />
        <div class="card">
            <div class="card-body">
                <div *ngIf="!(invoiceHeaders && invoiceHeaders.length > 0)">
                    <h3>Không tìm thấy dữ liệu</h3>
                </div>
                <div *ngIf="invoiceHeaders && invoiceHeaders.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <th># </th>
                            <th>Số hóa đơn </th>
                            <th>Hạn giao ước tính </th>
                            <th>Tình trạng đơn </th>
                            <th>Ngày chấp nhận đơn </th>
                            <th>Ngày tạo đơn </th>
                            <th>Ghi chú</th>
                            <th class="text-left">Hành động</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoiceHeader of invoiceHeaders ;trackBy: trackId">
                                <td>{{invoiceHeader.id}} </td>
                                <td>{{invoiceHeader.invoiceNo}} </td>
                                <td>{{invoiceHeader.dueDate | date:'yyyy-MM-dd HH:mm': 'vie'}} </td>
                                <td>{{common.processInvoiceStatus(invoiceHeader.status)}}
                                    <div *ngIf="invoiceHeader.changeNote === 'request' && !invoiceHeader.cancel">
                                        <span>"{{cancelStatus}}"</span>
                                    </div>
                                </td>
                                <td>{{invoiceHeader.reviewDate | date:'yyyy-MM-dd HH:mm' : 'vie'}} </td>
                                <td>{{invoiceHeader.createDate | date:'yyyy-MM-dd HH:mm' : 'vie'}} </td>
                                <td>{{invoiceHeader.cancelReason ? invoiceHeader.cancelReason : invoiceHeader.note}}</td>
                                <td>
                                    <div class="btn-group flex-btn-group-container justify-content-start">
                                        <button type="submit"
                                            [routerLink]="['/invoice-header', invoiceHeader.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">Chi tiết</span>
                                        </button>
                                        <button type="submit"
                                            *ngIf="!invoiceHeader.changeNote && !(invoiceHeader.status === 'finish' || invoiceHeader.status === 'cancel' )"
                                            [routerLink]="['/', { outlets: { popup: 'cancel-invoice/'+ invoiceHeader.id + '/send-request'} }]"
                                            class="btn btn-secondary btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Yêu cầu hủy</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="invoiceHeaders && invoiceHeaders.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
                        </jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
