<form name="deleteForm">
    <div class="modal-header">
        <h4 class="modal-title">Danh sách những vật phẩm bị cấm</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <table class="table">
            <thead>
                <th colspan="2"> Loại vật phẩm</th>
            </thead>
            <tbody>
                <tr>
                    <td>Các chất ma tuý (bao gồm cả tiền chất và các chất hoá học tham gia vào quá trình chế tạo các chất ma tuý, kể cả các chất dùng trong y tế và nghiên cứu khoa học), các chất kích thích thần kinh.</td>
                </tr>
                <tr>
                    <td>Vũ khí đạn dược quân trang, quân dụng, phương tiện kỹ thuật chuyên dùng của các lực lượng vũ trang</td>
                </tr>
                <tr>
                    <td>Vật sắc nhọn, vũ khí gây sát thương: mã tấu, thương, kiếm, mác,…. ; vũ khí thể thao; công cụ hỗ trợ và vũ khí khác có tính năng, tác dụng tương tự.</td>
                </tr>
                <tr>
                    <td>Các loại ấn phẩm, tài liệu có nội dung kích động, gây mất an ninh, phá hoại đoàn kết dân tộc, chống phá Nhà nước Cộng hoà xã hội chủ nghĩa Việt Nam.</td>
                </tr>
                <tr>
                    <td>Vật, chất dễ nổ, dễ cháy, chất độc, chất phóng xạ, vi trùng dịch bệnh (kể cả các chất dùng trong y tế và nghiên cứu khoa học), và các chất gây nguy hiểm hoặc làm mất vệ sinh, gây ô nhiễm môi trường.</td>
                </tr>
                <tr>
                    <td>Các vật, tài liệu phản động, đồi truỵ, mê tín dị đoan, trái đạo đức xã hội, trái thuần phong mỹ tục của Việt Nam hoặc có hại tới giáo dục thẩm mỹ, nhân cách.</td>
                </tr>
                <tr>
                    <td>Nguyên liệu thuốc lá, sản phẩm thuốc lá (thuốc cỏ, thuốc lá điếu, xì gà, thuốc lá sợi, thuốc lào, thuốc lá điện tử,…) và các dạng thuốc lá thành phẩm khác nhập lậu.</td>
                </tr>
                <tr>
                    <td>Hóa chất độc hại: Xịt hơi cay, nước tẩy chứa hàm lượng axit cao,…; thuốc thú y, thuốc bảo vệ thực vật cấm hoặc chưa được phép sử dụng tại Việt Nam.</td>
                </tr>
                <tr>
                    <td>Pháo các loại, bao gồm nhưng không giới hạn: pháo hoa, pháo nổ, pháo bông, pháo sáng,….</td>
                </tr>
                <tr>
                    <td>Sinh vật sống; thực vật rừng, nguy cấp, quý hiếm; thực phẩm yêu cầu bảo quản.</td>
                </tr>
                <tr>
                    <td>Tiền Việt Nam, nước ngoài và các giấy tờ có giá trị như tiền; hóa đơn GTGT; giấy tờ không thể cấp lại; bản gốc các giấy tờ chứng thực cá nhân, văn bằng, chứng chỉ,….</td>
                </tr>
                <tr>
                    <td>Tài liệu, hiện vật thuộc di tích lịch sử, văn hoá, bảo tàng (bia ký, gia phả, tiền cổ,…).</td>
                </tr>
                <tr>
                    <td>Các loại kim khí quý (vàng, bạc, đá quý,…) dưới dạng khối, thỏi, miếng.</td>
                </tr>
                <tr>
                    <td>Các vật phẩm, hàng hóa khác mà pháp luật của Việt Nam quy định cấm lưu thông, xuất khẩu, nhập khẩu, cấm nhập vào nước nhận, cấm vận chuyển bằng đường bưu chính theo quy định của pháp luật Việt Nam, điều ước quốc tế mà Cộng hòa xã hội chủ nghĩa Việt Nam là thành viên tại từng thời điểm.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="row justify-content-center">
            <div class="col-12" style="text-align: center;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Đóng</span>
                </button>
            </div>
        </div>
    </div>
</form>
