<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <br>
                <div class="row" style="border-bottom: 2px solid;">
                    <h2 *ngIf="!this.invoiceHeader.id" id="jhi-invoice-header-heading" style="font-weight: bold;">Tạo hóa đơn</h2>
                    <h2 *ngIf="this.invoiceHeader.id"  id="jhi-invoice-header-heading" style="font-weight: bold;">Sửa hóa đơn: <b>{{this.invoiceHeader.invoiceNo}}</b></h2>
                </div>
                <br>
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>
                <div class="divider"></div>
                <div class="card">
                    <div class="card-header">
                        <label class="form-control-label" for="from-address" style="font-weight: bolder;"><b>Thông tin khách hàng</b></label>
                    </div>
                    <div class="card-body" name="from-address">
                        <div class="form-group">
                            <label class="form-control-label" for="field_customerId">Tài khoản khách</label>
                            <ng-select [clearable]="true" [hideSelected]="true" [items]="this.lstUser" bindLabel="email"
                                id="field_customerId" name="field_customerId" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="this.selectedUser" (change)="this.changeUser()">
                                <ng-option *ngFor="let item of lstUser">{{item.email}}</ng-option>
                            </ng-select>
                        </div>
                        <br>
                        <label *ngIf="this.selectedUserProfile && this.selectedUserProfile.id" class="form-control-label"
                            for="">Information</label>
                        <div *ngIf="this.selectedUserProfile && this.selectedUserProfile.id" class="col-lg-12">
                            <table class="table">
                                <tr>
                                    <th class="text-left">Họ và Tên</th>
                                    <td class="text-left">{{this.selectedUser.firstName + ' ' +this.selectedUser.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-left">Giới tính</th>
                                    <td class="text-left">{{this.selectedUserProfile.gender}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Số điện thoại</th>
                                    <td class="text-left">{{this.selectedUserProfile.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Địa chỉ</th>
                                    <td class="text-left">{{this.selectedUserProfile.address}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="divider"></div>
                <div class="card">
                    <div class="card-header">
                        <label class="form-control-label" for="from-address" style="font-weight: bold;"><b>Thông tin hóa đơn</b></label>
                    </div>
                    <div class="card-body" name="from-address">
                        <!-- Invoice Package Start-->
                        <label class="form-control-label" for="from-address" style="font-weight: 500;"><b>Chi tiết gói hàng</b></label>
                        <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                            <ng-container *ngFor="let item of createPackage; let i = index">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-10"> Gói hàng #{{i + 1}} </div>
                                            <div class="col-2">
                                                <button *ngIf="item.invPackage.id == null" type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true" id="package{{i}}" name="package{{i}}"
                                                    (click)="this.removeNewPackageDetailsDTO(i)">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="weight{{i}}">Cân nặng
                                                        (g)</label>
                                                    <input placeholder="" class="form-control" step="0.1" min="0"
                                                        type="number" name="weight{{i}}" id="weight{{i}}"
                                                        [(ngModel)]="item.invPackage.weight">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="height{{i}}">Cao (cm)</label>
                                                    <input placeholder="" class="form-control" step="0.1" min="0"
                                                        type="number" name="height{{i}}" id="height{{i}}"
                                                        [(ngModel)]="item.invPackage.height">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="width{{i}}">Rộng (cm)</label>
                                                    <input placeholder="" class="form-control" step="0.1" min="0"
                                                        type="number" name="width{{i}}" id="width{{i}}"
                                                        [(ngModel)]="item.invPackage.width">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="length{{i}}">Dài (cm)</label>
                                                    <input placeholder="" class="form-control" step="0.1" type="number"
                                                        name="length{{i}}" id="length{{i}}"
                                                        [(ngModel)]="item.invPackage.length">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="note{{i}}">Ghi chú</label>
                                                    <textarea class="form-control" style="resize: none;" rows="3"
                                                        id="address" id="note{{i}}" name="note{{i}}"
                                                        [(ngModel)]="item.invPackage.note">
                                                        </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin: 40px;">
                                        <!-- Invoice Detail Start -->
                                        <label class="form-control-label" for="from-address" style="margin-left: 20px;"><b>Chi tiết vật
                                                phẩm</b></label>
                                        <div name="from-address"
                                            style="border: rgb(161, 161, 161) solid thin; border-radius: 5px; padding: 2%;">
                                            <ng-container *ngFor="let itemDetail of item.itemList; let id = index">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-10"> Vật phẩm #{{i + 1}} </div>
                                                            <div class="col-2">
                                                                <button *ngIf="itemDetail.id == null" type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true" id="detail{{id}}" name="detail{{id}}"
                                                                    (click)="this.removeInvoiceDetailElement(i,id)">&times;</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label"
                                                                        for="itemName{{i}}">Tên
                                                                        vật
                                                                        phẩm</label>
                                                                    <input placeholder="" class="form-control" type="text"
                                                                        name="itemName{{id}}" id="itemName{{id}}"
                                                                        [(ngModel)]="itemDetail.itemName">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label"
                                                                        for="itemType{{i}}">Loại</label>
                                                                    <input placeholder="" class="form-control" type="text"
                                                                        name="itemType{{id}}" id="itemType{{id}}"
                                                                        [(ngModel)]="itemDetail.itemType">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label"
                                                                        for="description{{id}}">Ghi chú</label>
                                                                    <textarea class="form-control" style="resize: none;"
                                                                        rows="3" id="description{{id}}"
                                                                        name="description{{id}}"
                                                                        [(ngModel)]="itemDetail.description">
                                                            </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </ng-container>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                    <button type="button" class="btn btn-outline-success"
                                                        (click)="this.addNewInvoiceDetailElement(i)">
                                                        <fa-icon [icon]="'plus'"></fa-icon>
                                                        <span class="d-none d-md-inline">Thêm vật phẩm</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ng-container>
                            <br>
                            <div class="divider" style="margin: 20px;"></div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <button type="button" class="btn btn-outline-success"
                                        (click)="this.addNewPackageDetailsDTO()">
                                        <fa-icon [icon]="'plus'"></fa-icon>
                                        <span class="d-none d-md-inline">Thêm gói hàng</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-control-label" for="field_payer"><b>Lựa chọn thanh toán</b></label>
                            <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstPayer"
                                bindLabel="text" bindValue="id" id="field_payer" name="field_payer"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedPayer">
                                <ng-option *ngFor="let item of lstPayer">{{item.text}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <br>
                <div class="row" *ngIf="!this.invoiceHeader.id">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <label class="form-control-label" for="from-address" style="font-weight: bolder;"><b>Địa chỉ gửi</b></label>
                            </div>
                            <div class="card-body" name="from-address">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="province">Tỉnh/Thành Phố</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstProvinceFrom" bindLabel="provinceName" id="province"
                                                name="province" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedProvinceFrom" (change)="this.changeCity('from')">
                                                <ng-option *ngFor="let item of lstProvinceFrom">{{item.provinceName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="district">Quận/Huyện</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstDistrictFrom" bindLabel="districtName" id="district"
                                                name="district" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedDistrictFrom"
                                                (change)="this.changeDistrict('from')"
                                                [disabled]="!this.selectedProvinceFrom">
                                                <ng-option *ngFor="let item of lstDistrictFrom">{{item.districtName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="subDistrict">Phường/Xã</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstSubDistrictFrom" bindLabel="subDistrictName"
                                                id="subDistrict" name="subDistrict" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedSubDistrictFrom"
                                                (change)="this.changeSubDistrict('from')"
                                                [disabled]="!this.selectedDistrictFrom">
                                                <ng-option *ngFor="let item of lstSubDistrictFrom">{{item.subDistrictName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="street">Đường/Phố</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstStreetFrom" bindLabel="streetName" id="street"
                                                name="street" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedStreetFrom"
                                                [disabled]="!this.selectedSubDistrictFrom">
                                                <ng-option *ngFor="let item of lstStreetFrom">{{item.streetName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="address">Địa chỉ</label>
                                            <textarea class="form-control" style="resize: none;" rows="3" id="address"
                                                name="address" [(ngModel)]="this.selectedAddressFrom">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <label class="form-control-label" for="to-address" style="font-weight: bolder;"><b>Địa chỉ nhận</b></label>
                            </div>
                            <div class="card-body" name="to-address">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="province">Tỉnh/Thành Phố</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstProvinceTo" bindLabel="provinceName" id="province"
                                                name="province" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedProvinceTo" (change)="this.changeCity('to')">
                                                <ng-option *ngFor="let item of lstProvinceTo">{{item.provinceName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="district">Quận/Huyện</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstDistrictTo" bindLabel="districtName" id="district"
                                                name="district" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedDistrictTo" (change)="this.changeDistrict('to')"
                                                [disabled]="!this.selectedProvinceTo">
                                                <ng-option *ngFor="let item of lstDistrictTo">{{item.districtName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="subDistrict">Phường/Xã</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstSubDistrictTo" bindLabel="subDistrictName" id="subDistrict"
                                                name="subDistrict" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedSubDistrictTo"
                                                (change)="this.changeSubDistrict('to')"
                                                [disabled]="!this.selectedDistrictTo">
                                                <ng-option *ngFor="let item of lstSubDistrictTo">{{item.subDistrictName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="street">Đường/Phố</label>
                                            <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstStreetTo"
                                                bindLabel="streetName" id="street" name="street"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedStreetTo"
                                                [disabled]="!this.selectedSubDistrictTo">
                                                <ng-option *ngFor="let item of lstStreetTo">{{item.streetName}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="address">Địa chỉ</label>
                                            <textarea class="form-control" style="resize: none;" rows="3" id="address"
                                                name="address" [(ngModel)]="this.selectedAddressTo">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="this.invoiceHeader.id">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <label class="form-control-label" for="addressFrom"><b>Địa chỉ gửi</b></label>
                        <div class="form-group">
                            <textarea class="form-control" style="resize: none;" rows="3" id="addressFrom"
                                name="addressFrom" [(ngModel)]="this.invoiceHeader.startAddress">
                            </textarea>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <label class="form-control-label" for="addressTo"><b>Địa chỉ nhận</b></label>
                        <div class="form-group">
                            <textarea class="form-control" style="resize: none;" rows="3" id="addressTo"
                                name="addressTo" [(ngModel)]="this.invoiceHeader.destinationAddress">
                            </textarea>
                        </div>
                    </div>
                </div>
                <br>

                <div *ngIf="this.invoiceHeader.id" class="form-group">
                    <label class="form-control-label" for="field_dueDate">Ngày giao dự kiến</label>
                    <div class="d-flex">
                        <input id="field_dueDate" type="datetime-local" class="form-control" name="dueDate"
                            [(ngModel)]="dueDate" />
                    </div>
                </div>

                <div *ngIf="this.invoiceHeader.id" class="form-group">
                    <label class="form-control-label" for="field_createDate">Ngày tạo hóa đơn</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="updateDate"
                            [(ngModel)]="createDate" />
                    </div>
                </div>
            </div>
            <!-- <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Hủy</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;&nbsp;<span>Lưu</span>
                </button>
            </div> -->
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="row justify-content-center">
                        <button type="button" id="cancel-save" class="btn btn-secondary form-control"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Hủy</span>
                        </button>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row justify-content-center">
                    </div>
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary form-control">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;&nbsp;<span>Xác nhận</span>
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>
