<div>
    <h2 id="page-heading">
        <span>Shifts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift" [routerLink]="['/shift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Shift
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shifts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Shift Name</span></th>
            <th><span>Start Hour</span></th>
            <th><span>Start Minute</span></th>
            <th><span>End Hour</span></th>
            <th><span>End Minute</span></th>
            <th><span>Create Date</span></th>
            <th><span>Update Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shift of shifts ;trackBy: trackId">
                <td><a [routerLink]="['/shift', shift.id, 'view' ]">{{shift.id}}</a></td>
                <td>{{shift.shiftName}}</td>
                <td>{{shift.startHour}}</td>
                <td>{{shift.startMinute}}</td>
                <td>{{shift.endHour}}</td>
                <td>{{shift.endMinute}}</td>
                <td>{{shift.createDate | date:'medium'}}</td>
                <td>{{shift.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/shift', shift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shift', shift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'shift/'+ shift.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
