<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="receiptnote">
            <h2><span>Receiptnote</span> {{receiptnote.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Employee Id</span></dt>
                <dd>
                    <span>{{receiptnote.employeeId}}</span>
                </dd>
                <dt><span>Invoice Header Id</span></dt>
                <dd>
                    <span>{{receiptnote.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{receiptnote.note}}</span>
                </dd>
                <dt><span>Customer Confirm</span></dt>
                <dd>
                    <span>{{receiptnote.customerConfirm}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{receiptnote.createDate}}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{receiptnote.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receiptnote', receiptnote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
