<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requestDetails">
            <h2><span>Request Details</span> {{requestDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{requestDetails.createDate}}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{requestDetails.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/request-details', requestDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
