<div>
    <h2 id="page-heading">
        <span>Request Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-request-details" [routerLink]="['/request-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Request Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="requestDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ie Warehouse Id</span></th>
            <th><span>Invoice Header Id</span></th>
            <th><span>Create Date</span></th>
            <th><span>Update Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requestDetails of requestDetails ;trackBy: trackId">
                <td><a [routerLink]="['/request-details', requestDetails.id, 'view' ]">{{requestDetails.id}}</a></td>
                <td>{{requestDetails.ieWarehouseId}}</td>
                <td>{{requestDetails.invoiceHeaderId}}</td>
                <td>{{requestDetails.createDate | date:'medium'}}</td>
                <td>{{requestDetails.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/request-details', requestDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/request-details', requestDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'request-details/'+ requestDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
