<div class="row justify-content-center">
    <div class="col-lg-8">
        <br>
        <br>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-office-heading">Văn phòng</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!office.id">
                    <label for="id">Mã số</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="office.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_officeName">Tên văn phòng</label>
                    <input type="text" class="form-control" name="officeName" id="field_officeName"
                        [(ngModel)]="office.officeName" />
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <label class="form-control-label" for="from-address" style="font-weight: bolder;"><b>Địa
                                        chỉ gửi</b></label>
                            </div>
                            <div class="card-body" name="from-address">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="province">Tỉnh/Thành Phố</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstProvinceFrom" bindLabel="provinceName" id="province"
                                                name="province" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedProvinceFrom"
                                                (change)="this.changeCity('from')">
                                                <ng-option *ngFor="let item of lstProvinceFrom">{{item.provinceName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="district">Quận/Huyện</label>
                                            <ng-select [clearable]="false" [hideSelected]="false"
                                                [items]="this.lstDistrictFrom" bindLabel="districtName" id="district"
                                                name="district" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedDistrictFrom"
                                                (change)="this.changeDistrict('from')"
                                                [disabled]="!this.selectedProvinceFrom">
                                                <ng-option *ngFor="let item of lstDistrictFrom">{{item.districtName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="subDistrict">Phường/Xã</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstSubDistrictFrom" bindLabel="subDistrictName"
                                                id="subDistrict" name="subDistrict"
                                                [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedSubDistrictFrom"
                                                (change)="this.changeSubDistrict('from')"
                                                [disabled]="!this.selectedDistrictFrom">
                                                <ng-option *ngFor="let item of lstSubDistrictFrom">
                                                    {{item.subDistrictName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="street">Đường/Phố</label>
                                            <ng-select [clearable]="false" [hideSelected]="true"
                                                [items]="this.lstStreetFrom" bindLabel="streetName" id="street"
                                                name="street" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="this.selectedStreetFrom"
                                                [disabled]="!this.selectedSubDistrictFrom">
                                                <ng-option *ngFor="let item of lstStreetFrom">{{item.streetName}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="address">Địa chỉ</label>
                                            <textarea class="form-control" style="resize: none;" rows="3" id="address"
                                                name="address" [(ngModel)]="this.selectedAddressFrom">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Hủy</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;&nbsp;<span>Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>
