<div class="row justify-content-center">
    <div class="col-8">
        <br>
<br>
        <br>
<br>
        <div *ngIf="office">
            <h2><span>Office</span> {{office.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Office Name</span></dt>
                <dd>
                    <span>{{office.officeName}}</span>
                </dd>
                <dt><span>Địa chỉ</span></dt>
                <dd>
                    <span>{{office.address}}</span>
                </dd>
                <dt><span>Mã Đường/Phố</span></dt>
                <dd>
                    <span>{{office.streetId}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{office.createDate}}</span>
                </dd>
                <dt><span>Ngày cập nhật</span></dt>
                <dd>
                    <span>{{office.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/office', office.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
