<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Đặt lại mật khẩu</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>Khóa đặt lại mật khẩu trống</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Chọn mật khẩu mới</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Không thể đặt lại mật khẩu của bạn. Hãy nhớ rằng một yêu cầu mật khẩu chỉ có hiệu lực trong 24 giờ.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Mật khẩu của bạn đã được thiết lập lại.</strong> Hãy </span>
                <a class="alert-link" (click)="login()">đăng nhập</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Mật khẩu và xác nhận mật khẩu không khớp!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="New password"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Trường mật khẩu không được trống.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                               Trường mật khẩu tối thiểu là 4 ký tự.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                               Trường mật khẩu tối đa là 50 ký tự.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu </label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirm the new password"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                Trường xác nhận mật khẩu trống
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                               Trường xác nhận mật khẩu trống tối thiểu là 4 ký tự.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                               Trường xác nhận mật khẩu tối đa là 50 ký tự.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Lưu</button>
                </form>
            </div>

        </div>
    </div>
</div>
