.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.content-wrap {
    padding-bottom: 18rem;
}

.jhi-body {
    margin-top: 55px;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.bottom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0rem;
    color: #22242c;
    background-color: whitesmoke;
}

/* HaiNM */
/* .inner-body {
    background: url('src/main/webapp/content/images/body-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
} */
/* HaiNM */
