<div class="page-container">
    <header>
        <router-outlet name="navbar"></router-outlet>
    </header>
    <div class="divider"></div>
    <main class="container-fluid jhi-body content-wrap"
        [ngStyle]="{'padding': '' + this.url === '/' ? '0 0 0 0' : '0 15px 0 15px'}"
        style="background-color: white; width: 100%;">
        <router-outlet></router-outlet>
        <ngx-ui-loader></ngx-ui-loader>
        <router-outlet name="popup"></router-outlet>
    </main>
    <!-- -->

    <br>
<br>
    <footer class="bottom-footer">

        <jhi-footer></jhi-footer>
    </footer>
</div>
