<div class="page-container">
    <header>
        <router-outlet name="navbar"></router-outlet>
    </header>
    <div class="divider"></div>
    <main class="container-fluid jhi-body content-wrap inner-body">
        <router-outlet></router-outlet>
        <ngx-ui-loader></ngx-ui-loader>
        <router-outlet name="popup"></router-outlet>
    </main>
    <footer class="bottom-footer">
        <div class="divider" style="border-bottom: 1px solid black;;"></div>
        <jhi-footer></jhi-footer>
    </footer>
</div>    