<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="district">
            <h2><span>District</span> {{district.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tên Quận/Huyện</span></dt>
                <dd>
                    <span>{{district.districtName}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{district.createDate}}</span>
                </dd>
                <dt><span>Ngày chỉnh sửa</span></dt>
                <dd>
                    <span>{{district.updateDate}}</span>
                </dd>
                <dt><span>Mã Tỉnh/Thành phố</span></dt>
                <dd>
                    <div *ngIf="district.provinceIdId">
                        <a [routerLink]="['/province', district.provinceIdId, 'Chi tiết']">{{district.provinceIdId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/district', district.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
