<div style="
    background-image: url('../../../content/images/delivery-man.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-left: 0; padding-right: 0;
    max-height: 2560px;
    min-height: 1024px;
    width: 100%;
    opacity: 0.8;
    margin: 0;">
    <div class="row" style="padding: 0; margin: 0;">
        <div class="col-12 mt-3" style="background-color: rgba(255, 255, 255, 0.4);">
            <h1 style="font-weight: bolder; color: #000000; text-align: center; line-height: 4;"><b>CTS - Convinient Transport System</b></h1>
        </div>
    </div>
    <br>
    <br>
    <div class="col-12" style="background-color: rgba(255, 255, 255, 0.4);">
        <div class="row justify-content-center">
            <h1 style="font-weight: bolder; color: #000000; text-align: center; line-height: 4;"><b>DỊCH VỤ</b></h1>
        </div>
        <div class="row justify-content-center" style="margin: 0;">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'truck'" [size]="'10x'"></fa-icon>
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">Chuyển Phát Cá Nhân</h5>
                                <div class="divider"></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'shipping-fast'" [size]="'10x'"></fa-icon>
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">Chuyển Phát Nhanh</h5>
                                <div class="divider"></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'shipping-fast'" [size]="'10x'"></fa-icon>
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">Chuyển Phát Hỏa Tốc</h5>
                                <div class="divider"></div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'truck-loading'" [size]="'10x'"></fa-icon>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Dịch Vụ Chuyển Nhà</h5>
                            <div class="divider"></div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
<div class="divider"></div>
<!-- <div class="container-fluid" style="
        background-image: url('../../../content/images/storage.jpg'); 
        background-repeat: no-repeat; 
        background-size: cover;
        padding-left: 0;
        padding-right: 0;
        max-height: 2560px;
        min-height: 1024px;
        width: 100%;">
    <div class="row">
    </div>
</div> -->