<div style="
    background-image: url('../../../content/images/delivery-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0; padding-right: 0;
    max-height: 2560px;
    min-height: 1024px;
    width: 100%;
    opacity: 0.8;
    margin: 0;">
    <div class="row" style="padding: 0; margin: 0;">
        <div class="col-12 mt-3" style="background-color: rgba(255, 255, 255, 0.4);">
            <h1 style="font-weight: bolder; color: #000000; text-align: center; line-height: 4;"><b>CTS - Convinient
                    Transport Service</b></h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-12" style="background-color: rgba(255, 255, 255, 0.4);">
        <div class="row justify-content-center">
            <h1 style="font-weight: bolder; color: #000000; text-align: center; line-height: 4;"><b>DỊCH VỤ</b></h1>
        </div>
        <div class="row justify-content-center" style="margin: 0;">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'truck'" [size]="'10x'"></fa-icon>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Chuyển Phát Cá Nhân</h5>
                            <div class="divider"></div>
                            <p class="card-text">Cam kết giao hàng trong 3 ngày làm việc </p>
                        </div>
                        <div class="card-footer hidden-link">
                            <div class="row justify-content-center">
                                <button class="btn btn-link" routerLink="invoice-header-user/new"
                                    style="text-align: center;">
                                    <fa-icon [icon]="'arrow-right'" [size]="'3x'"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'shipping-fast'" [size]="'10x'"></fa-icon>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Chuyển Phát Nhanh</h5>
                            <div class="divider"></div>
                            <p class="card-text">Giao nhanh, an toàn, trong 24h làm việc</p>
                        </div>
                        <div class="card-footer hidden-link">
                            <div class="row justify-content-center">
                                <button class="btn btn-link " style="text-align: center;">
                                    <!-- <fa-icon [icon]="'arrow-right'" [size]="'3x'"></fa-icon> -->
                                    <span>Unavailable</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'rocket'" [size]="'10x'"></fa-icon>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Chuyển Phát Hỏa Tốc</h5>
                            <div class="divider"></div>
                            <p class="card-text ">Giao ngay trong 24h</p>
                        </div>
                        <div class="card-footer hidden-link">
                            <div class="row justify-content-center">
                                <button class="btn btn-link " style="text-align: center;">
                                    <!-- <fa-icon [icon]="'arrow-right'" [size]="'3x'"></fa-icon> -->
                                    <span>Unavailable</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light mb-3 view overlay zoom" style="max-width: 20rem;">
                        <div class="card-header" style="text-align: center;">
                            <fa-icon [icon]="'truck-loading'" [size]="'10x'"></fa-icon>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Dịch Vụ Chuyển Nhà</h5>
                            <div class="divider"></div>
                            <p class="card-text">Sớm nhất 24h kể từ khi yêu cầu dịch vụ</p>
                        </div>
                        <div class="card-footer hidden-link">
                            <div class="row justify-content-center">
                                <button class="btn btn-link " style="text-align: center;">
                                    <!-- <fa-icon [icon]="'arrow-right'" [size]="'3x'"></fa-icon> -->
                                    <span>Unavailable</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="divider"></div>
<div style="
    padding-left: 0; padding-right: 0;
    max-height: 2560px;
    min-height: 1024px;
    width: 100%;
    opacity: 0.7;
    margin: 0;">
    <div class="row" style="padding: 0; margin: 0;">
        <div class="col-12 mt-3" style="background-color: whitesmoke">
            <h1 style="font-weight: bolder; color: #000000; text-align: center; line-height: 4;"><b>Hệ thống CTS</b>
            </h1>
        </div>
    </div>
    <br>
    <div class="row justify-content-center" style="padding: 0; margin: 0;background-color: whitesmoke">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9 mt-3">
                <p style="font-weight: 400; color: #000000; text-align: left; font-size: 2rem;">Tại Việt Nam, chúng tôi
                    giúp cả người mua và bán dễ dàng hơn trong quá trình giao nhận hàng hóa</p>
            </div>
        </div>
        <br />
    </div>
    <br />
    <div class="row justify">
        <div class="col-2"></div>
        <div class="col-3">
            <img src="https://www.ninjavan.co/static/040c3ad780942134140b533eaf06f88e/5f169/landing_illustration_1.webp"
                alt="Gửi hàng linh hoạt" width="100%">
            <p style="font-weight: 400; color: #000000; text-align: center; font-size: 1.5rem;"><b>Gửi hàng linh
                    hoạt</b></p>
            <p>Đa dạng các dịch vụ vận chuyển và dễ dàng đặt lịch giao hàng thông qua trang quản lý đơn hàng.</p>
        </div>
        <div class="col-3">
            <img src="https://www.ninjavan.co/static/a6408db52ad400c037f0c2f9a1dc7c26/f5549/ezgif-4-29357bf69b28.webp"
                alt="Dịch vụ đáng tin cậy" width="100%" style="padding: 30px 0 30px;">
            <p style="font-weight: 400; color: #000000; text-align: center; font-size: 1.5rem;"><b>Dịch vụ đáng tin
                    cậy</b></p>
            <p>Chúng tôi cung cấp dịch vụ giao hàng tại tất cả những nơi chúng tôi hoạt động.</p>
        </div>
        <div class="col-3">
            <img src="https://www.ninjavan.co/static/a81d89275c5839d2fc98d736e3ba6c0d/5f169/landing_illustration_3.webp"
                alt="Dịch vụ đáng tin cậy" width="100%">
            <p style="font-weight: 400; color: #000000; text-align: center; font-size: 1.5rem;"><b>Tạo đơn hàng dễ
                    dàng</b></p>
            <p>Bạn có thể liên tục tạo đơn hàng mới và theo dõi dễ dàng</p>
        </div>
    </div>
    <br />
</div>
<div class="divider"></div>

<div style="
        padding-left: 0; padding-right: 0;
        max-height: 2560px;
        min-height: 768;
        width: 100%;
        opacity: 0.7;
        margin: 0;">
    <div style="padding: 0; margin: 0 10%;">
        <div class="col-11 mt-2 justify-content-center" style="background-color: whitesmoke">
            <h1 style="font-weight: bolder; color: #000000; text-align: center; line-height: 4;"><b>Chính sách vận
                    chuyển</b>
            </h1>
        </div>
        <div class="row" style="padding: 0; margin: 10%; font-weight: 500; color: #000; font-size: larger;">
            <div class="col-9">
                <p>Bao gồm</p>
                <ul>
                    <li>
                        <p>DANH MỤC HÀNG HÓA KHÔNG NHẬN VẬN CHUYỂN</p>
                    </li>
                    <li>
                        <p>QUY ĐỊNH VỀ KIỂM TRA HÀNG HÓA</p>
                    </li>
                    <li>
                        <p>QUY ĐỊNH ĐÓNG GÓI</p>
                    </li>
                </ul>
                <br>
            </div>
            <div class="col-3">
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="card bg-light view overlay zoom" style="height: auto;">
                        <div class="card-header" style="text-align: center;">
                        </div>
                        <div style="text-align: center; height: 15rem;">
                            <img src="https://www.ninjavan.co/static/797cfb35b0511bdc0da273409ef726ef/5f169/landing_icon_3.webp"
                            alt="chi tiết" width="100%">
                            <span>Chi tiết</span>
                        </div>
                        <div class="hidden-link">
                            <div class="row justify-content-center">
                                <button class="btn btn-link" routerLink="policy"
                                    style="text-align: center;">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
