.zoom {
    transition: transform 0.2s;
    width: 20rem;
    height: 25rem;
    margin: 0 auto;
}

.zoom:hover {
    border: palevioletred 2px solid;
    transform: scale(1.2);
}

.hidden-link {
    display: none;
}

.zoom:hover > .hidden-link {
    display: block;
}
