<div>
    <h2 id="page-heading">
        <span>Warehouse Transfer Requests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-warehouse-transfer-request" [routerLink]="['/warehouse-transfer-request/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Warehouse Transfer Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="warehouseTransferRequests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>From Warehouse Id</span></th>
            <th><span>To Warehouse Id</span></th>
            <th><span>From Keeper Id</span></th>
            <th><span>To Keeper Id</span></th>
            <th><span>Status</span></th>
            <th><span>Receive Date</span></th>
            <th><span>Create Date</span></th>
            <th><span>Update Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let warehouseTransferRequest of warehouseTransferRequests ;trackBy: trackId">
                <td><a [routerLink]="['/warehouse-transfer-request', warehouseTransferRequest.id, 'view' ]">{{warehouseTransferRequest.id}}</a></td>
                <td>{{warehouseTransferRequest.fromWarehouseId}}</td>
                <td>{{warehouseTransferRequest.toWarehouseId}}</td>
                <td>{{warehouseTransferRequest.fromKeeperId}}</td>
                <td>{{warehouseTransferRequest.toKeeperId}}</td>
                <td>{{warehouseTransferRequest.status}}</td>
                <td>{{warehouseTransferRequest.receiveDate | date:'medium'}}</td>
                <td>{{warehouseTransferRequest.createDate | date:'medium'}}</td>
                <td>{{warehouseTransferRequest.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/warehouse-transfer-request', warehouseTransferRequest.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/warehouse-transfer-request', warehouseTransferRequest.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'warehouse-transfer-request/'+ warehouseTransferRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
