<div class="row justify-content-center">
    <div class="col-lg-11">
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div style="border-bottom: 2px solid;">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-md-12">
                        <h2 style="font-weight: bold;" id="page-heading">
                            <span>Quản lý đơn hàng bị hủy</span>
                        </h2>
                    </div>
                    <div class="col-lg-6 col-md-12 col-md-12">
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cancel-invoice" (click)="approveAll()"
                                [disabled]="cancelInvoices.length === 0">
                                <fa-icon [icon]="'check'"></fa-icon>
                            <span >
                            Chấp thuận tất cả
                            </span>
                        </button>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <jhi-alert></jhi-alert>
        <br />
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" *ngIf="!cancelInvoices || cancelInvoices.length === 0">
                    <h2>Không tìm thấy dữ liệu</h2>
                </div>
                <div class="table-responsive" *ngIf="cancelInvoices && cancelInvoices.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span>Mã số</span> </th>
                                <th><span>Số hóa đơn</span> </th>
                                <th><span>Trạng thái</span> </th>
                                <th><span>Địa chỉ nhận hàng</span></th>
                                <th><span>Địa chỉ giao hàng</span> </th>
                                <th><span>Tổng tiền</span> </th>
                                <th><span>Lý do hủy</span> </th>
                                <th class="text-right"><span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cancelInvoice of cancelInvoices">
                                <td><a>{{cancelInvoice.id}}</a></td>
                                <td>{{cancelInvoice.invoiceNo}}</td>
                                <td>{{common.processInvoiceStatus(cancelInvoice.status)}}</td>
                                <td>{{cancelInvoice.startAddress}}</td>
                                <td>{{cancelInvoice.destinationAddress}}</td>
                                <td>{{cancelInvoice.totalDue}}</td>
                                <td>{{cancelInvoice.cancelReason}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'cancel-invoice/'+ cancelInvoice.id + '/approve'} }]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'check'"></fa-icon>
                                            <span class="d-none d-md-inline">Chấp thuận</span>
                                        </button>

                                        <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'cancel-invoice/'+ cancelInvoice.id + '/reject'} }]"
                                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Từ chối</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="cancelInvoices && cancelInvoices.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
                        </jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
