<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cancelInvoice">
            <h2><span>Mã hóa đơn</span> {{cancelInvoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã khách hàng</span></dt>
                <dd>
                    <span>{{cancelInvoice.customerId}}</span>
                </dd>
                <dt><span>Mã văn phòng tiếp nhận</span></dt>
                <dd>
                    <span>{{cancelInvoice.officeId}}</span>
                </dd>
                <dt><span>Số hóa đơn</span></dt>
                <dd>
                    <span>{{cancelInvoice.invoiceNo}}</span>
                </dd>
                <dt><span>Loại hóa đơn</span></dt>
                <dd>
                    <span>{{cancelInvoice.invoiceType}}</span>
                </dd>
                <dt><span>Trạng thái</span></dt>
                <dd>
                    <span>{{cancelInvoice.status}}</span>
                </dd>
                <dt><span>Địa chỉ nhận hàng</span></dt>
                <dd>
                    <span>{{cancelInvoice.startAddress}}</span>
                </dd>
                <dt><span>Start Street Id</span></dt>
                <dd>
                    <span>{{cancelInvoice.startStreetId}}</span>
                </dd>
                <dt><span>Địa chỉ giao hàng </span></dt>
                <dd>
                    <span>{{cancelInvoice.destinationAddress}}</span>
                </dd>
                <dt><span>Địa chỉ giao hàng </span></dt>
                <dd>
                    <span>{{cancelInvoice.destinationStreetId}}</span>
                </dd>
                <dt><span>Receiver Name</span></dt>
                <dd>
                    <span>{{cancelInvoice.receiverName}}</span>
                </dd>
                <dt><span>Receiver Phone</span></dt>
                <dd>
                    <span>{{cancelInvoice.receiverPhone}}</span>
                </dd>
                <dt><span>Sub Total</span></dt>
                <dd>
                    <span>{{cancelInvoice.subTotal}}</span>
                </dd>
                <dt><span>Tax Amount</span></dt>
                <dd>
                    <span>{{cancelInvoice.taxAmount}}</span>
                </dd>
                <dt><span>Tổng tiền</span></dt>
                <dd>
                    <span>{{cancelInvoice.totalDue}}</span>
                </dd>
                <dt><span>Ghi chú</span></dt>
                <dd>
                    <span>{{cancelInvoice.note}}</span>
                </dd>
                <dt><span>Hủy</span></dt>
                <dd>
                    <span>{{cancelInvoice.cancel}}</span>
                </dd>
                <dt><span>Lý do hủy</span></dt>
                <dd>
                    <span>{{cancelInvoice.cancelReason}}</span>
                </dd>
                <dt><span>Khách hàng xác nhận</span></dt>
                <dd>
                    <span>{{cancelInvoice.customerConfirm}}</span>
                </dd>
                <dt><span>Change Note</span></dt>
                <dd>
                    <span>{{cancelInvoice.changeNote}}</span>
                </dd>
                <dt><span>Finish</span></dt>
                <dd>
                    <span>{{cancelInvoice.finish}}</span>
                </dd>
                <dt><span>Ngày giao dự kiến</span></dt>
                <dd>
                    <span>{{cancelInvoice.dueDate}}</span>
                </dd>
                <dt><span>Finish Date</span></dt>
                <dd>
                    <span>{{cancelInvoice.finishDate}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{cancelInvoice.createDate}}</span>
                </dd>
                <dt><span>Ngày Cập nhật</span></dt>
                <dd>
                    <span>{{cancelInvoice.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/cancel-invoice', cancelInvoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Sửa</span>
            </button>
        </div>
    </div>
</div>
