<form name="requestForm" (ngSubmit)="confirmRequest(invoiceHeader)">
    <div class="modal-header">
        <h4 class="modal-title">Send request cancel Invoice</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="reason">Cancel Reason</label>
            <textarea   class="form-control"
                        style="resize: none;"
                        rows="2"
                        id="reason"
                        name="reason"
                        [(ngModel)]="invoiceHeader.cancelReason">
            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Hủy</span>
        </button>
        <button [disabled]="invoiceHeader.status === 'finish'"
            id="jhi-confirm-request-invoiceHeader"
            type="submit" class="btn btn-primary">
            <fa-icon [icon]="'check'"></fa-icon>&nbsp;<span>Send Request</span>
        </button>
    </div>
</form>
