<div style="display: block;">
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:70px;width:594px;height:843px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=594 height=843></div>
        <div style="position:absolute;left:194.93px;top:43.66px" class="cls_004"><span class="cls_004">QUY ĐỊNH VẬN
                CHUYỂN</span></div>
        <br>
        <div style="position:absolute;left:89.90px;top:81.98px" class="cls_007"><span class="cls_007">I.</span><span
                class="cls_008"> </span><span class="cls_009">DANH MỤC HÀNG HÓA KHÔNG VẬN CHUYỂN</span></div>
        <div style="position:absolute;left:83.90px;top:105.14px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Chất khí (Bình ga, bình xịt phòng, bình xịt côn trùng, xịt
                tóc, bình ô-xy,….).</span></div>
        <div style="position:absolute;left:83.90px;top:127.70px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Chất lỏng dễ cháy (Sơn, xăng, dầu, cồn, rượu, keo dán,
                nước hoa,…).</span></div>
        <div style="position:absolute;left:83.90px;top:150.50px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Chất rắn dễ cháy (Bột kim loại, bột hóa chất,…).</span>
        </div>
        <div style="position:absolute;left:83.90px;top:173.18px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Chất oxy hóa, ăn mòn, chất bột.</span></div>
        <div style="position:absolute;left:83.90px;top:195.74px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Sản phẩm có từ trường (nam châm,…).</span></div>
        <div style="position:absolute;left:83.90px;top:218.54px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Trang sức, các hàng hóa có giá trị cao.</span></div>
        <div style="position:absolute;left:84.02px;top:241.34px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Thiết bị điện tử có tích điện: pin, pin sạc dự phòng, điện
                thoại di động, máy cạo râu dùng</span></div>
        <div style="position:absolute;left:84.02px;top:262.01px" class="cls_002"><span class="cls_002">pin,…</span>
        </div>
        <div style="position:absolute;left:84.02px;top:284.69px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Các hàng hóa khác theo Danh mục hàng hóa không nhận vận
                chuyển của CTS, quy định</span></div>
        <div style="position:absolute;left:84.02px;top:350.93px" class="cls_014"><span class="cls_014">Lưu ý:
            </span><span class="cls_015">Hàng hóa ghi tên sản phẩm bằng Tiếng Anh hoặc tên sản phẩm không rõ ràng
                cũng</span></div>
        <div style="position:absolute;left:84.02px;top:371.57px" class="cls_015"><span class="cls_015">sẽ được CTS liệt
                vào Danh mục hàng hóa không nhận vận chuyển </span></div>
        <div style="position:absolute;left:84.02px;top:394.25px" class="cls_015"><span class="cls_015">Người bán có
                trách nhiệm ghi chú rõ ràng thông tin </span><span class="cls_014">“Hàng không vận chuyển "</span></div>
        <div style="position:absolute;left:84.02px;top:414.89px" class="cls_015"><span class="cls_015">lên trên gói
                hàng. Trường hợp người bán không ghi chú rõ ràng dẫn đến việc hàng hóa bị thu</span></div>
        <div style="position:absolute;left:84.02px;top:435.67px" class="cls_015"><span class="cls_015">giữ, tiêu hủy,
                vận chuyển chậm hoặc không thể vận chuyển được CTS sẽ không chịu trách</span></div>
        <div style="position:absolute;left:84.02px;top:456.31px" class="cls_015"><span class="cls_015">nhiệm.</span>
        </div>
        <div style="position:absolute;left:294.67px;top:777.60px" class="cls_002"><span class="cls_002">1</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:913px;width:594px;height:843px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=594 height=843></div>
        <div style="position:absolute;left:84.74px;top:104.78px" class="cls_018"><span class="cls_018">II.</span><span
                class="cls_019"> </span><span class="cls_009">QUY ĐỊNH VỀ KIỂM TRA HÀNG HÓA</span></div>
        <div style="position:absolute;left:84.02px;top:126.98px" class="cls_002"><span class="cls_002">Để đảm bảo an
                toàn, an ninh trong quá trunh cung ứng dịch vụ, kịp thời ngăn chặn đối tượng</span></div>
        <div style="position:absolute;left:84.02px;top:147.74px" class="cls_002"><span class="cls_002">xấu lợi dụng gửi
                hàng hóa cấm qua mạng bưu chính, bảo vệ quyền lợi cho các khách hàng</span></div>
        <div style="position:absolute;left:84.02px;top:168.38px" class="cls_002"><span class="cls_002">chân chính, CTS
                triển khai thực hiện việc kiểm tra nội dung gói, kiện hàng.</span></div>
        <div style="position:absolute;left:83.90px;top:189.50px" class="cls_020"><span class="cls_020">1. Kiểm tra nội
                dung gói, kiện hàng</span></div>
        <div style="position:absolute;left:84.02px;top:209.90px" class="cls_002"><span class="cls_002">Nhân viên CTS sẽ
                kiểm tra hàng hóa bằng cách chụp hunh ảnh bên ngoài và bên trong đơn</span></div>
        <div style="position:absolute;left:84.02px;top:230.54px" class="cls_002"><span class="cls_002">hàng. Hình ảnh
                lưu trữ trên hệ thống là cơ sở pháp lý quan trọng để xử lý các vấn đề phát sinh</span></div>
        <div style="position:absolute;left:84.02px;top:251.21px" class="cls_002"><span class="cls_002">theo quy định của
                pháp luật.</span></div>
        <div style="position:absolute;left:83.90px;top:271.97px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Nhân viên CTS khi kiểm tra thao tác:</span></div>
        <div style="position:absolute;left:84.02px;top:292.61px" class="cls_020"><span class="cls_020">Bước 1: Chụp đúng
                - đủ - đảm bảo </span><span class="cls_002">chất lượng hình ảnh (bên ngoài và bên trong ĐH) để
                xác</span></div>
        <div style="position:absolute;left:84.02px;top:313.37px" class="cls_002"><span class="cls_002">minh đã kiểm tra
                các ĐH user gửi.</span></div>
        <div style="position:absolute;left:84.02px;top:334.13px" class="cls_020"><span class="cls_020">Bước 2: Báo xấu
                user nếu sản phẩm bên trong là hàng cấm. </span><span class="cls_002">Các ĐH cấm sẽ được chuyển</span>
        </div>
        <div style="position:absolute;left:84.02px;top:354.77px" class="cls_002"><span class="cls_002">sang trạng thái
                không lấy được hàng.</span></div>
        <div style="position:absolute;left:84.02px;top:375.53px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">CTS ưu tiên việc đồng kiểm cùng user, trường hợp không thể
                cùng đồng kiểm, CTS</span></div>
        <div style="position:absolute;left:84.02px;top:396.17px" class="cls_002"><span class="cls_002">sẽ thông báo cho
                user trước khi bóc mở gói, kiện hàng và ghi nhận hình ảnh kiểm tra làm căn</span></div>
        <div style="position:absolute;left:84.02px;top:416.93px" class="cls_002"><span class="cls_002">cứ.</span></div>
        <div style="position:absolute;left:83.90px;top:437.95px" class="cls_020"><span class="cls_020">2. Sau khi kiểm
                tra gói, kiện hàng</span></div>
        <div style="position:absolute;left:84.02px;top:458.35px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Nếu gói, kiện hàng không chứa hàng hóa không nhận vận
                chuyển (Xem tại đky), gói, kiện</span></div>
        <div style="position:absolute;left:84.02px;top:478.99px" class="cls_002"><span class="cls_002">hàng của user sẽ
                được gia cố và tiếp tục chuyển phát.</span></div>
        <div style="position:absolute;left:84.02px;top:499.75px" class="cls_011"><span class="cls_011">-</span><span
                class="cls_012"> </span><span class="cls_002">Trường hợp phát hiện trong gói, kiện của user có chứa hàng
                hóa thuộc Danh mục hàng hóa</span></div>
        <div style="position:absolute;left:84.02px;top:520.39px" class="cls_002"><span class="cls_002">không nhận vận
                chuyển (Xem tại đky) hoặc hộp rỗng không chứa hàng, CTS có quyền giao</span></div>
        <div style="position:absolute;left:84.02px;top:541.15px" class="cls_002"><span class="cls_002">nộp hàng hóa cấm
                theo quy định pháp luật cho cơ quan chức năng; đối với hàng CTS không</span></div>
        <div style="position:absolute;left:84.02px;top:561.79px" class="cls_002"><span class="cls_002">nhận vận chuyển
                thì user phải đến nhận lại trong vòng 02 (hai) ngày kể từ ngày CTS thông</span></div>
        <div style="position:absolute;left:84.02px;top:582.55px" class="cls_002"><span class="cls_002">báo, quá thời hạn
                trên CTS có toàn quyền xử lý gói, kiện.</span></div>
        <div style="position:absolute;left:84.02px;top:623.98px" class="cls_020"><span class="cls_020">Lưu ý:
            </span><span class="cls_002">Việc kiểm tra đảm bảo không gây ra hư hong, mất mát hàng hóa của user; user
                chịu</span></div>
        <div style="position:absolute;left:84.02px;top:644.62px" class="cls_002"><span class="cls_002">hoàn toàn trách
                nhiệm về hàng và mọi chi phí, thiệt hại phát sinh (nếu có) trong trường hợp</span></div>
        <div style="position:absolute;left:84.02px;top:665.38px" class="cls_002"><span class="cls_002">user gửi hàng
                cấm, CTS được loại trừ mọi trách nhiệm liên quan đến hàng hóa.</span></div>
        <div style="position:absolute;left:84.02px;top:686.02px" class="cls_015"><span class="cls_015">Việc kiểm tra
                chính là cách bảo vệ quyền lợi cho user, vì vậy, rất mong user phối hợp thực</span></div>
        <div style="position:absolute;left:84.02px;top:706.78px" class="cls_015"><span class="cls_015">hiện. Để đảm bảo
                an toàn chung cho toàn hệ thống, CTS buộc phải từ chối các đơn hàng</span></div>
        <div style="position:absolute;left:84.02px;top:727.42px" class="cls_015"><span class="cls_015">không thể thực
                hiện kiểm tra đồng yêu cầu.</span></div>
        <div style="position:absolute;left:294.67px;top:777.60px" class="cls_002"><span class="cls_002">2</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:1756px;width:594px;height:843px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=594 height=843></div>
        <div style="position:absolute;left:84.74px;top:104.78px" class="cls_018"><span class="cls_018">II.</span><span
                class="cls_019"> </span><span class="cls_009">QUY ĐỊNH ĐÓNG GÓI</span></div>
        <div style="position:absolute;left:84.02px;top:126.98px" class="cls_002"><span class="cls_002">Quy định đóng gói
                được CTS đưa ra nhằm đảm bảo an toàn cho hàng hóa trong quá trình</span></div>
        <div style="position:absolute;left:84.02px;top:147.74px" class="cls_002"><span class="cls_002">vận chuyển từ
                Người gửi tới khách hàng. Đóng gói đung quy cách giup bảo vệ hàng hóa,</span></div>
        <div style="position:absolute;left:84.02px;top:168.38px" class="cls_002"><span class="cls_002">giảm tình trạng
                trả hàng, tiết kiệm chi phí cho Người gửi.</span></div>
        <div style="position:absolute;left:84.02px;top:191.18px" class="cls_002"><span class="cls_002">Khi có sự cố xảy
                ra trong quá trình vận chuyển, quy định đóng gói hàng hóa dùng làm căn</span></div>
        <div style="position:absolute;left:84.02px;top:211.82px" class="cls_002"><span class="cls_002">cứ quy chiếu
                trách nhiệm cho các bên liên quan.</span></div>
        <div style="position:absolute;left:83.90px;top:257.69px" class="cls_020"><span class="cls_020">1. QUY ĐỊNH ĐÓNG
                GÓI HÀNG HÓA CHUNG</span></div>
        <div style="position:absolute;left:90.02px;top:281.38px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:281.93px" class="cls_002"><span class="cls_002">Tất cả các bưu
                kiện đều phải đóng gói sẵn sàng trước khi vận chuyển, được niêm phong</span></div>
        <div style="position:absolute;left:108.02px;top:302.33px" class="cls_002"><span class="cls_002">bởi Người Bán.
                CTS sẽ chỉ chịu trách nhiệm vận chuyển hàng hóa theo nguyên tắc</span></div>
        <div style="position:absolute;left:108.02px;top:322.73px" class="cls_002"><span class="cls_002">“nguyên đai,
                nguyên kiện”, và không chịu trách nhiệm với nội dung hàng hóa bên trong</span></div>
        <div style="position:absolute;left:108.02px;top:343.13px" class="cls_002"><span class="cls_002">nếu sản phẩm
                được giao tới tay Người Mua hoặc hoàn về tay Người Bán trong tunh</span></div>
        <div style="position:absolute;left:108.02px;top:363.53px" class="cls_002"><span class="cls_002">trạng nguyên vẹn
                và bao bì không bị rách/vỡ/ướt/móp méo.</span></div>
        <div style="position:absolute;left:90.02px;top:387.34px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:387.89px" class="cls_002"><span class="cls_002">CTS nhận vận
                chuyển hàng hóa có khối lượng tối đa là 20kg, kích thước tối đa mỗi</span></div>
        <div style="position:absolute;left:108.02px;top:408.41px" class="cls_002"><span class="cls_002">chiều không quá
                80cm với kiện hàng đi liên miền, không quá 50cm với kiện hàng đi</span></div>
        <div style="position:absolute;left:108.02px;top:428.83px" class="cls_002"><span class="cls_002">nội miền và nội
                tỉnh. Nếu sản phẩm nho hơn 6cmx3cmx8cm (tương ứng: dài x rộng x</span></div>
        <div style="position:absolute;left:108.02px;top:449.23px" class="cls_002"><span class="cls_002">cao), vui lòng
                cho sản phẩm vào phong bì để tránh thất lạc khi vận chuyển.</span><span class="cls_032"> </span><span
                class="cls_033">Lưu ý:</span><span class="cls_014"> </span><span class="cls_015">quy</span></div>
        <div style="position:absolute;left:108.02px;top:469.63px" class="cls_015"><span class="cls_015">chuẩn trên không
                áp dụng đối với dịch vụ vận chuyển đặc biệt cho hjng trọng lượng,</span></div>
        <div style="position:absolute;left:108.02px;top:490.03px" class="cls_015"><span class="cls_015">kích thước
                lớn.</span></div>
        <div style="position:absolute;left:90.02px;top:514.08px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:514.63px" class="cls_002"><span class="cls_002">Hàng hóa cồng
                kềnh sẽ được tính cước phí theo khối lượng quy đổi: Khối lượng quy</span></div>
        <div style="position:absolute;left:108.02px;top:533.95px" class="cls_002"><span class="cls_002">đổi (kg) = Chiều
                dài (cm) x Chiều rộng (cm) x Chiều cao (cm)/ 6000</span></div>
        <div style="position:absolute;left:90.02px;top:558.12px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:558.67px" class="cls_002"><span class="cls_002">Hàng hóa đóng
                gói cần chịu được các tác động lực khi vận chuyển (bị đè lên, bốc vác,</span></div>
        <div style="position:absolute;left:108.02px;top:578.83px" class="cls_002"><span class="cls_002">br xếp…) và các
                tác động tự nhiên trong điều kiện môi trường bunh thường (nhiệt độ,</span></div>
        <div style="position:absolute;left:108.02px;top:598.90px" class="cls_002"><span class="cls_002">ánh sáng, độ
                ẩm).</span></div>
        <div style="position:absolute;left:90.02px;top:622.83px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:623.38px" class="cls_002"><span class="cls_002">Khi đóng gói cần
                sử dụng vật nhồi chèn như giấy báo vò nhàu, hạt xốp hoặc giấy bọt</span></div>
        <div style="position:absolute;left:108.02px;top:643.42px" class="cls_002"><span class="cls_002">khí để chèn kín
                các khoảng trống, tránh sự chuyển động của hàng hóa bên trong hộp</span></div>
        <div style="position:absolute;left:108.02px;top:663.34px" class="cls_002"><span class="cls_002">khi vận
                chuyển.</span></div>
        <div style="position:absolute;left:90.02px;top:687.51px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:688.06px" class="cls_002"><span class="cls_002">Gói kín bằng
                băng keo, đảm bảo không rơi sản phẩm ra khoi bao bì trong quá trình vận</span></div>
        <div style="position:absolute;left:108.02px;top:707.50px" class="cls_002"><span class="cls_002">chuyển. Không d
                ng dky thừng, dky vải để đóng gói.</span></div>
        <div style="position:absolute;left:90.02px;top:731.78px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:732.34px" class="cls_002"><span class="cls_002">Với các mặt hàng
                dễ bị bẩn, ướt, cần đặt vào tui nilon dán kín bằng băng dính trước khi</span></div>
        <div style="position:absolute;left:108.02px;top:751.66px" class="cls_002"><span class="cls_002">đóng gói.</span>
        </div>
        <div style="position:absolute;left:294.67px;top:777.60px" class="cls_002"><span class="cls_002">3</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:2559px;width:594px;height:843px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=594 height=843></div>
        <div style="position:absolute;left:90.02px;top:105.67px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:106.22px" class="cls_002"><span class="cls_002">Hóa đơn hay tài
                liệu hướng dẫn sử dụng cần để trong thùng hàng trước khi đóng gói,</span></div>
        <div style="position:absolute;left:108.02px;top:125.54px" class="cls_002"><span class="cls_002">không dán bên
                ngoài thùng.</span></div>
        <div style="position:absolute;left:90.02px;top:149.71px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:150.26px" class="cls_002"><span class="cls_002">Gom các bộ phận
                nho hoặc các sản phẩm dạng hạt có thể bị đổ ra vào trong thùng niêm</span></div>
        <div style="position:absolute;left:108.02px;top:169.70px" class="cls_002"><span class="cls_002">phong chắc chắn,
                như tui vải hoặc tui dệt plastic, rồi cho gói hàng vào trong hộp cứng.</span></div>
        <div style="position:absolute;left:90.02px;top:193.75px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:194.30px" class="cls_002"><span class="cls_002">Đối với các hàng
                hóa có hình dạng đặc biệt hoặc khác thường, tối thiểu phải bao gói</span></div>
        <div style="position:absolute;left:108.02px;top:214.46px" class="cls_002"><span class="cls_002">chống sốc và dán
                băng keo cho tất cả các cạnh sắc nhọn hoặc lồi ra, đảm bảo không gãy</span></div>
        <div style="position:absolute;left:108.02px;top:234.50px" class="cls_002"><span class="cls_002">khi chịu tác
                động.</span></div>
        <div style="position:absolute;left:90.02px;top:258.58px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:259.13px" class="cls_002"><span class="cls_002">Các hàng hóa đặc
                biệt như chất long, hàng dễ vỡ, hàng dễ móp méo, dễ nóng chảy…</span></div>
        <div style="position:absolute;left:108.02px;top:278.45px" class="cls_002"><span class="cls_002">phải được đóng
                gói để đáp ứng được với điều kiện vận chuyển.</span></div>
        <div style="position:absolute;left:108.02px;top:301.25px" class="cls_002"><span class="cls_002">Những loại hàng
                hóa này phải được dán cảnh báo đặc biệt ở ngoài th ng hàng.</span></div>
        <div style="position:absolute;left:90.02px;top:325.30px" class="cls_023"><span class="cls_023"></span></div>
        <div style="position:absolute;left:108.02px;top:325.85px" class="cls_002"><span class="cls_002">Trên bao bì tất
                cả các bưu kiện cần có Mã vận đơn của đơn hàng, CTS khuyến khích</span></div>
        <div style="position:absolute;left:108.02px;top:345.17px" class="cls_002"><span class="cls_002">điền thêm thng
                tin người nhận.</span></div>
        <div style="position:absolute;left:108.02px;top:367.97px" class="cls_002"><span class="cls_002">Bao gồm: Tên
                người nhận, số điện thoại và địa chỉ người nhận, Ghi chu hàng dễ vỡ</span></div>
        <div style="position:absolute;left:108.02px;top:388.73px" class="cls_002"><span class="cls_002">hoặc không vận
                chuyển được bằng đường hàng không (nếu có ít nhất 01 sản phẩm trong</span></div>
        <div style="position:absolute;left:108.02px;top:409.49px" class="cls_002"><span class="cls_002">bưu kiện thuộc
                sản phẩm không thể vận chuyển bằng đường hàng không) </span><span class="cls_015">(Xem thêm</span></div>
        <div style="position:absolute;left:108.02px;top:430.15px" class="cls_015"><span class="cls_015">tại phụ lục phía
                dưới).</span></div>
        <div style="position:absolute;left:83.90px;top:475.99px" class="cls_020"><span class="cls_020">2. QUY ĐỊNH ĐÓNG
                GÓI CHI TIẾT</span></div>
        <div style="position:absolute;left:83.90px;top:498.79px" class="cls_014"><span class="cls_014">2.1. Hóa mỹ
                phẩm</span></div>
        <div style="position:absolute;left:90.02px;top:522.24px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Hàng mỹ phẩm dạng chai lọ phải được bịt kín và dán kín
                nắp sản phẩm, đặc biệt phần</span></div>
        <div style="position:absolute;left:108.02px;top:542.95px" class="cls_002"><span class="cls_002">nắp của các chai
                + chai dạng mo vịt cần cuộn để thành 1 khối có kích thước tương đồng</span></div>
        <div style="position:absolute;left:108.02px;top:563.23px" class="cls_002"><span class="cls_002">với thân chai cố
                định đảm bảo chất long không bị chảy ra ngoài (kể cả khi dốc ngược</span></div>
        <div style="position:absolute;left:108.02px;top:583.51px" class="cls_002"><span class="cls_002">chai lọ).</span>
        </div>
        <div style="position:absolute;left:108.38px;top:606.22px" class="cls_002"><span class="cls_002">Bên ngoài sản
                phẩm được bọc kín được cuốn từ 3-4 lớp chống sốc (lưu ý với những</span></div>
        <div style="position:absolute;left:105.38px;top:626.98px" class="cls_002"><span class="cls_002">chai mỹ phẩm
                dạng serum đựng bằng thủy tinh cần quấn chặt và kỹ hơn) cố định bằng</span></div>
        <div style="position:absolute;left:105.38px;top:647.74px" class="cls_002"><span class="cls_002">băng dính, có
                chèn vật liệu chống va đập hoặc chống thấm nước (như xốp hoặc mút, hạt</span></div>
        <div style="position:absolute;left:105.38px;top:668.38px" class="cls_002"><span class="cls_002">xốp, tấm bọt
                khí, xốp mềm) giữa sản phẩm và hộp carton để lấp đầy khoảng không trong</span></div>
        <div style="position:absolute;left:105.38px;top:689.14px" class="cls_002"><span class="cls_002">hộp tránh bị xê
                dịch và chịu được áp lực trong quá trunh vận chuyển.</span></div>
        <div style="position:absolute;left:294.67px;top:777.60px" class="cls_002"><span class="cls_002">4</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:3442px;width:595px;height:842px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=595 height=842></div>
        <div style="position:absolute;left:71.90px;top:93.10px" class="cls_014"><span class="cls_014">2.2. Đồ thủy tinh,
                gốm sứ, hàng dễ vỡ</span></div>
        <div style="position:absolute;left:78.02px;top:116.67px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Các sản phẩm bằng chất liệu: nhựa mong, thủy tinh, pha
                lr, sành, sứ, gốm, đất nung,</span></div>
        <div style="position:absolute;left:96.02px;top:137.62px" class="cls_002"><span class="cls_002">thạch cao, sản
                phẩm chứa chất long bên trong, v.v… khi vận chuyển sẽ có rủi ro rất lớn</span></div>
        <div style="position:absolute;left:96.02px;top:158.02px" class="cls_002"><span class="cls_002">nếu không có chế
                độ cảnh báo và vận chuyển riêng. Do vậy, CTS có quyền từ chối hỗ</span></div>
        <div style="position:absolute;left:96.02px;top:178.42px" class="cls_002"><span class="cls_002">trợ vận chuyển
                nếu đánh giá đơn hàng có rủi ro lớn khi vận chuyển hoặc do đối tác vận</span></div>
        <div style="position:absolute;left:96.02px;top:198.94px" class="cls_002"><span class="cls_002">chuyển không đáp
                ứng được điều kiện để vận chuyển bưu kiện dễ vỡ.</span></div>
        <div style="position:absolute;left:78.02px;top:222.75px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Nếu Người bán vẫn mong muốn bán các sản phẩm này và yru
                cầu CTS hỗ trợ vận</span></div>
        <div style="position:absolute;left:96.02px;top:243.25px" class="cls_002"><span class="cls_002">chuyển, thì trách
                nhiệm gói bọc đảm bảo an toàn, cảnh báo bên ngoài gói bọc và chịu rủi</span></div>
        <div style="position:absolute;left:96.02px;top:263.29px" class="cls_002"><span class="cls_002">ro vận chuyển nếu
                xảy ra bể vỡ, hong hóc hoàn toàn thuộc về Người Bán.</span></div>
        <div style="position:absolute;left:77.90px;top:287.34px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sử dụng giấy bọt khí bọc kín mọi góc cạnh của sản phẩm từ
                3 - 4 lớp.</span></div>
        <div style="position:absolute;left:78.02px;top:311.70px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Đóng gói bằng hộp gỗ, phải chèn các vật liệu (như xốp
                hoặc mut, hạt xốp, tấm bọt khí,</span></div>
        <div style="position:absolute;left:96.02px;top:332.41px" class="cls_002"><span class="cls_002">xốp mềm) kín 6
                mặt để đảm bảo hàng hóa không xr dịch và chịu được áp lực khi vận</span></div>
        <div style="position:absolute;left:96.02px;top:352.45px" class="cls_002"><span class="cls_002">chuyển. Ở ngoài
                phải dán cảnh báo “hàng dễ vỡ”.</span></div>
        <div style="position:absolute;left:77.90px;top:376.38px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Hàng hóa dễ vỡ d ng 02 lần hộp phải có lớp xốp bọc quanh
                bên ngoài hộp nho.</span></div>
        <div style="position:absolute;left:71.90px;top:422.55px" class="cls_014"><span class="cls_014">2.3. Đồ điện tử,
                điện lạnh, đồ công nghệ</span></div>
        <div style="position:absolute;left:78.02px;top:446.12px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Với đặc th dễ hư hại nếu gặp môi trường có độ ẩm cao,
                trong quá trunh nkng đỡ, di</span></div>
        <div style="position:absolute;left:96.02px;top:466.83px" class="cls_002"><span class="cls_002">chuyển, các mặt
                hàng điện tử cần phải được bọc kỹ bằng các loại vật liệu chống va đập</span></div>
        <div style="position:absolute;left:96.02px;top:487.11px" class="cls_002"><span class="cls_002">và chống ẩm (giấy
                bọt khí, mut mềm, mut xốp, nilon…), chèn lót xung quanh để không</span></div>
        <div style="position:absolute;left:96.02px;top:507.39px" class="cls_002"><span class="cls_002">bị xê dịch khi
                vận chuyển.</span></div>
        <div style="position:absolute;left:78.02px;top:531.32px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sản phẩm không có hộp của NSX: Ốp xốp mềm 06 mặt bên
                ngoài sản phẩm, lớp xốp</span></div>
        <div style="position:absolute;left:96.02px;top:552.03px" class="cls_002"><span class="cls_002">cuốn yru cầu độ
                dày là 2.5cm; sau đó, sử dụng bubble (bọt khí) bọc quanh lớp xốp đó ít</span></div>
        <div style="position:absolute;left:96.02px;top:572.22px" class="cls_002"><span class="cls_002">nhất 02 lớp, d ng
                băng dính cố định chặt các góc.</span></div>
        <div style="position:absolute;left:78.02px;top:596.03px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sản phẩm được đóng trong hộp của NSX: Người gửi cần ốp
                xốp các mặt của sản phẩm</span></div>
        <div style="position:absolute;left:96.02px;top:616.62px" class="cls_002"><span class="cls_002">(theo “Quy định
                ốp xốp” bên dưới), sau đó quấn bubble bên ngoài; đồng thời có thêm</span></div>
        <div style="position:absolute;left:96.02px;top:636.66px" class="cls_002"><span class="cls_002">tem ghi chu “hàng
                dễ vỡ”.</span></div>
        <div style="position:absolute;left:77.90px;top:660.83px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Quy định ốp xốp với hàng nội tỉnh:</span></div>
        <div style="position:absolute;left:78.02px;top:683.96px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:683.82px" class="cls_002"><span class="cls_002">Ốp xốp vào 02 mặt
                có diện tích lớn nhất sau đó quấn bubble bên ngoài; đồng thời có</span></div>
        <div style="position:absolute;left:96.02px;top:704.58px" class="cls_002"><span class="cls_002">thêm tem ghi chu
                “hàng dễ vỡ”.</span></div>
        <div style="position:absolute;left:294.67px;top:777.56px" class="cls_002"><span class="cls_002">5</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:4284px;width:595px;height:842px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=595 height=842></div>
        <div style="position:absolute;left:78.02px;top:92.76px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:92.62px" class="cls_002"><span class="cls_002">Sản phẩm có 04 mặt
                tiếp xuc bằng nhau, cần ốp xốp ở cả 04 mặt, trừ 02 mặt bé hơn sau</span></div>
        <div style="position:absolute;left:96.02px;top:113.38px" class="cls_002"><span class="cls_002">đó quấn bubble
                bên ngoài; đồng thời có thêm tem ghi chú “hàng dễ vỡ”.</span></div>
        <div style="position:absolute;left:78.02px;top:136.20px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:136.06px" class="cls_002"><span class="cls_002">Sản phẩm có 06
                mặt tiếp xuc bằng nhau, cần ốp xốp ở tất cả các mặt sau đó quấn bubble</span></div>
        <div style="position:absolute;left:96.02px;top:156.82px" class="cls_002"><span class="cls_002">bên ngoài; đồng
                thời có thrm tem ghi chu “hàng dễ vỡ”.</span></div>
        <div style="position:absolute;left:77.90px;top:179.40px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:179.26px" class="cls_002"><span class="cls_002">Xốp được yêu cầu
                độ dày là 2.5cm.</span></div>
        <div style="position:absolute;left:77.90px;top:203.43px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Quy định ốp xốp với hàng liên tỉnh: Tương tự quy định đối
                với hàng nội tỉnh cộng thêm:</span></div>
        <div style="position:absolute;left:77.90px;top:226.56px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:226.42px" class="cls_002"><span class="cls_002">Ốp xốp bên ngoài
                06 mặt của hộp sản phẩm (hộp của NSX).</span></div>
        <div style="position:absolute;left:77.90px;top:249.15px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:249.01px" class="cls_002"><span class="cls_002">Xốp được yêu cầu
                độ dày là 2.5cm.</span></div>
        <div style="position:absolute;left:77.90px;top:273.18px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Với đơn có từ 02 sản phẩm trở lên:</span></div>
        <div style="position:absolute;left:77.90px;top:296.19px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:296.05px" class="cls_002"><span class="cls_002">Đóng gói đung quy
                cách như trên cho từng hộp sản phẩm trong đơn hàng.</span></div>
        <div style="position:absolute;left:77.90px;top:318.99px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:318.85px" class="cls_002"><span class="cls_002">Sau đó, thống
                nhất khối hàng bằng việc quấn băng keo.</span></div>
        <div style="position:absolute;left:77.90px;top:341.67px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:341.53px" class="cls_002"><span class="cls_002">Cuối cùng là quấn
                màng co bên ngoài khối hàng và dán tem nhãn dễ vỡ.</span></div>
        <div style="position:absolute;left:71.90px;top:387.37px" class="cls_014"><span class="cls_014">2.4. Sách & Văn
                phòng phẩm</span></div>
        <div style="position:absolute;left:78.02px;top:410.96px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Với hàng hoá dạng mảnh như tranh vẽ, bản đồ, sách, báo,
                tạp chí, catalog, tài liệu … và</span></div>
        <div style="position:absolute;left:96.02px;top:431.67px" class="cls_002"><span class="cls_002">những đồ dễ rách
                nát cần được bảo vệ và bọc kín sản phẩm bởi 2 lớp nilon chống ướt</span></div>
        <div style="position:absolute;left:96.02px;top:451.83px" class="cls_002"><span class="cls_002">hoặc màng
                co.</span></div>
        <div style="position:absolute;left:78.02px;top:475.64px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sau đó cuộn tròn cho vào ống nhựa hay các ống bằng bìa
                carton cứng có độ dày là 0,3 -</span></div>
        <div style="position:absolute;left:96.02px;top:496.23px" class="cls_002"><span class="cls_002">0,5 cm, bịt kín 2
                đầu ống hoặc cho vào cặp tài liệu, đồng thời đóng gói vào thùng carton</span></div>
        <div style="position:absolute;left:96.02px;top:516.27px" class="cls_002"><span class="cls_002">cứng có hình dạng
                ph hợp, không quá lớn so với sản phẩm.</span></div>
        <div style="position:absolute;left:71.90px;top:562.35px" class="cls_014"><span class="cls_014">2.5. Thực phẩm
                khô</span></div>
        <div style="position:absolute;left:78.02px;top:585.83px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Các mặt hàng thực phẩm khô cần được đóng gói bằng nhiều
                lớp nilon hoặc bọt khí (từ 2</span></div>
        <div style="position:absolute;left:96.02px;top:606.42px" class="cls_002"><span class="cls_002">đến 3 lớp) và cố
                định bằng băng dính, kín, chống ẩm và va đập (với thực phẩm dễ vỡ</span></div>
        <div style="position:absolute;left:96.02px;top:626.46px" class="cls_002"><span class="cls_002">vụn), hut chân
                không để không ảnh hưởng chất lượng thực phẩm.</span></div>
        <div style="position:absolute;left:77.90px;top:650.51px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Quấn kỹ để tránh phát ra mùi thu hút động vật/côn trùng
                trước khi đóng hộp carton cứng.</span></div>
        <div style="position:absolute;left:78.02px;top:674.87px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Lưu ý điều kiện lưu giữ thực phẩm (ánh sáng, nhiệt độ, độ
                ẩm) cũng như hạn sử dụng để</span></div>
        <div style="position:absolute;left:96.02px;top:694.86px" class="cls_002"><span class="cls_002">tránh các trường
                hợp thực phẩm bị hư hỏng trong quá trunh vận chuyển.</span></div>
        <div style="position:absolute;left:77.90px;top:718.91px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Không nhận vận chuyển với sản phẩm có hạn sử dụng ngắn
                hạn (&lt; 6 tháng)</span></div>
        <div style="position:absolute;left:294.67px;top:777.56px" class="cls_002"><span class="cls_002">6</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:5126px;width:595px;height:842px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=595 height=842></div>
        <div style="position:absolute;left:71.90px;top:93.10px" class="cls_014"><span class="cls_014">2.6. Chất lỏng
                (dầu ăn, nước giặt/xả, dầu gội…)</span></div>
        <div style="position:absolute;left:78.02px;top:116.67px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Mỗi sản phẩm cần được bịt kín miệng chai với băng
                dính/nilon/màng bọc thực phẩm,</span></div>
        <div style="position:absolute;left:96.02px;top:136.54px" class="cls_002"><span class="cls_002">sau đó quấn
                bubble chống sốc 02 lớp xung quanh sản phẩm.</span></div>
        <div style="position:absolute;left:78.02px;top:160.59px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Đựng sản phẩm trong hộp carton, chèn mut/xốp đủ 06 mặt
                xung quanh giữa hộp bua</span></div>
        <div style="position:absolute;left:96.02px;top:180.70px" class="cls_002"><span class="cls_002">carton và sản
                phẩm.</span></div>
        <div style="position:absolute;left:77.90px;top:204.63px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Nếu có từ 02 sản phẩm trở lên, giữa các sản phẩm cần có
                xốp chèn ở giữa.</span></div>
        <div style="position:absolute;left:71.90px;top:250.93px" class="cls_014"><span class="cls_014">2.7. Quần áo,
                giày túi, bỉm tã</span></div>
        <div style="position:absolute;left:78.02px;top:274.62px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Trong trường hợp còn hộp của nhà sản xuất, chỉ cần bao
                bọc bên ngoài bằng tui nilon</span></div>
        <div style="position:absolute;left:96.02px;top:294.49px" class="cls_002"><span class="cls_002">thường và dùng
                băng keo bọc kín gói hàng.</span></div>
        <div style="position:absolute;left:78.02px;top:318.66px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Nếu không có hộp của nhà sản xuất, cần bọc thêm một lớp
                bọt khí trước khi cho tui nilon</span></div>
        <div style="position:absolute;left:96.02px;top:338.53px" class="cls_002"><span class="cls_002">thường và dùng
                băng keo bọc kín gói hàng.</span></div>
        <div style="position:absolute;left:78.02px;top:362.70px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Các mặt hàng quần áo, giày dép cần được gấp gọn trước khi
                đóng gói, được bọc từ 2 -3</span></div>
        <div style="position:absolute;left:96.02px;top:383.29px" class="cls_002"><span class="cls_002">lớp nilon hoặc
                màng co và cố định toàn phần bằng băng dính để tránh rủi ro khi điều</span></div>
        <div style="position:absolute;left:96.02px;top:403.47px" class="cls_002"><span class="cls_002">kiện thời tiết
                khách quan xảy ra.</span></div>
        <div style="position:absolute;left:78.02px;top:427.28px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Các sản phẩm giày, dép, tui xách bắt buộc phải có hộp
                carton bên ngoài sau khi đã cuốn</span></div>
        <div style="position:absolute;left:96.02px;top:447.27px" class="cls_002"><span class="cls_002">2-3 lớp
                nilon.</span></div>
        <div style="position:absolute;left:78.02px;top:471.44px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Trong trường hợp cần bảo quản cả hộp sản phẩm từ nhà sản
                xuất cần ốp xốp 6 mặt hộp</span></div>
        <div style="position:absolute;left:96.02px;top:491.43px" class="cls_002"><span class="cls_002">sau đó cố định
                toàn phần bằng băng keo và đặt trong hộp carton cứng.</span></div>
        <div style="position:absolute;left:71.90px;top:537.27px" class="cls_014"><span class="cls_014">2.8. Đồ gia dụng
                lớn</span></div>
        <div style="position:absolute;left:71.90px;top:560.07px" class="cls_014"><span class="cls_014">2.8.1. Hjng gia
                dụng (nhựa cứng)</span></div>
        <div style="position:absolute;left:78.02px;top:583.67px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sử dụng giấy bọt khí (bubble - loại giấy có khả năng đàn
                hồi chống va đập cao) bọc kín</span></div>
        <div style="position:absolute;left:96.02px;top:603.66px" class="cls_002"><span class="cls_002">mọi góc cạnh sản
                phẩm từ 3-4 lớp và cố định toàn phần bằng băng dính.</span></div>
        <div style="position:absolute;left:78.02px;top:627.83px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sản phẩm sau đó cần được đặt trong thùng carton có chèn
                xốp 06 mặt giữa thùng và sản</span></div>
        <div style="position:absolute;left:96.02px;top:647.70px" class="cls_002"><span class="cls_002">phẩm sau khi quấn
                bubble để tránh va đập trong quá trunh vận chuyển.</span></div>
        <div style="position:absolute;left:77.90px;top:671.75px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Dán tem ghi chu hàng dễ vỡ bên ngoài hộp hàng.</span>
        </div>
        <div style="position:absolute;left:294.67px;top:777.56px" class="cls_002"><span class="cls_002">7</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:5969px;width:595px;height:842px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px" width=595 height=842></div>
        <div style="position:absolute;left:71.90px;top:115.66px" class="cls_014"><span class="cls_014">2.8.2. Hjng gia
                dụng (trừ hjng nhựa cứng, điện gia dụng): chảo, nồi kim loại…</span></div>
        <div style="position:absolute;left:78.02px;top:139.23px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sản phẩm không có hộp của NSX: Người gửi cần gói kín sản
                phẩm, sử dụng bubble bọc</span></div>
        <div style="position:absolute;left:96.02px;top:159.94px" class="cls_002"><span class="cls_002">quanh sản phẩm ít
                nhất 02 lớp, d ng băng dính cố định toàn phần, sau đó cho vào trong</span></div>
        <div style="position:absolute;left:96.02px;top:180.10px" class="cls_002"><span class="cls_002">hộp carton và
                chèn chặt các góc bằng xốp mềm.</span></div>
        <div style="position:absolute;left:78.02px;top:203.91px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sản phẩm có hộp của NSX: Quấn chặt ít nhất 02 lớp nilon
                khí/bubble toàn bộ hộp hàng,</span></div>
        <div style="position:absolute;left:96.02px;top:224.02px" class="cls_002"><span class="cls_002">sau đó cố định
                bubble bằng băng keo bên ngoài.</span></div>
        <div style="position:absolute;left:77.90px;top:247.98px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Với mặt hàng “chảo” không có hộp của NSX (sản phẩm có
                hình dạng dị thường):</span></div>
        <div style="position:absolute;left:78.02px;top:271.23px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:271.09px" class="cls_002"><span class="cls_002">D ng xốp lấp đầy
                lòng chảo (không d ng bubble/nilon, dễ bị trũng, dễ hư hỏng vành</span></div>
        <div style="position:absolute;left:96.02px;top:291.85px" class="cls_002"><span class="cls_002">chảo).</span>
        </div>
        <div style="position:absolute;left:78.02px;top:314.67px" class="cls_011"><span class="cls_011">-</span></div>
        <div style="position:absolute;left:96.02px;top:314.53px" class="cls_002"><span class="cls_002">Quấn bubble 5 lớp
                toàn bộ chảo (cả lòng chảo và tay cầm), cố định bubble bằng băng</span></div>
        <div style="position:absolute;left:96.02px;top:335.29px" class="cls_002"><span class="cls_002">keo và cho vào
                hộp carton có kích thước vừa với sản phẩm.</span></div>
        <div style="position:absolute;left:71.90px;top:381.01px" class="cls_014"><span class="cls_014">2.9. Hộp thiếc,
                hộp giấy cứng (sữa bột, sơn….)</span></div>
        <div style="position:absolute;left:78.02px;top:404.60px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Các sản phẩm này cần được cố định từ 2-3 lớp màng co để
                cố dịnh phần nắp với thân</span></div>
        <div style="position:absolute;left:96.02px;top:424.59px" class="cls_002"><span class="cls_002">sản phẩm sau đó
                được bọc 3-4 lớp chống sốc có cố định bằng băng dính.</span></div>
        <div style="position:absolute;left:78.02px;top:448.76px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Sản phẩm sau đó được đặt vào hộp carton có chèn xốp mềm
                để đảm bảo lấp đầy khoảng</span></div>
        <div style="position:absolute;left:96.02px;top:468.63px" class="cls_002"><span class="cls_002">trống giữa hộp
                carton và sản phẩm.</span></div>
        <div style="position:absolute;left:71.90px;top:514.59px" class="cls_014"><span class="cls_014">2.10. Xếp nhiều
                hjng hóa nhỏ trong c ng gói hàng</span></div>
        <div style="position:absolute;left:78.02px;top:538.16px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Cần tách riêng và bọc từng mặt hàng riêng sau đó mới xếp
                vào th ng carton. Cuối c ng</span></div>
        <div style="position:absolute;left:96.02px;top:558.75px" class="cls_002"><span class="cls_002">dán băng dính kín
                miệng hộp carton. Các sản phẩm tách riêng cũng cần đóng gói theo</span></div>
        <div style="position:absolute;left:96.02px;top:578.94px" class="cls_002"><span class="cls_002">đung quy định đối
                với loại sản phẩm đó.</span></div>
        <div style="position:absolute;left:78.02px;top:602.87px" class="cls_023"><span class="cls_023"></span><span
                class="cls_024"> </span><span class="cls_002"> Không để sát nhau, khoảng không giữa 2 vật cần được lấp
                đầy bởi các vật liệu chống</span></div>
        <div style="position:absolute;left:96.02px;top:622.86px" class="cls_002"><span class="cls_002">va đập.</span>
        </div>
        <div style="position:absolute;left:294.67px;top:777.56px" class="cls_002"><span class="cls_002">8</span></div>
    </div>
</div>
