<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-transfer-packing-heading">Create or edit a Transfer Packing</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transferPacking.id">
                    <label for="id">Mã số</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transferPacking.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employeeId">Mã nhân viên</label>
                    <input type="number" class="form-control" name="employeeId" id="field_employeeId"
                        [(ngModel)]="transferPacking.employeeId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceHeaderId">Mã hóa đơn</label>
                    <input type="number" class="form-control" name="invoiceHeaderId" id="field_invoiceHeaderId"
                        [(ngModel)]="transferPacking.invoiceHeaderId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_packDate">Pack Date</label>
                    <div class="d-flex">
                        <input id="field_packDate" type="datetime-local" class="form-control" name="packDate" [(ngModel)]="packDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startHour">Start Hour</label>
                    <input type="number" class="form-control" name="startHour" id="field_startHour"
                        [(ngModel)]="transferPacking.startHour" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startMinute">Start Minute</label>
                    <input type="number" class="form-control" name="startMinute" id="field_startMinute"
                        [(ngModel)]="transferPacking.startMinute" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endHour">End Hour</label>
                    <input type="number" class="form-control" name="endHour" id="field_endHour"
                        [(ngModel)]="transferPacking.endHour" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endMinute">End Minute</label>
                    <input type="number" class="form-control" name="endMinute" id="field_endMinute"
                        [(ngModel)]="transferPacking.endMinute" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Trạng thái</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="transferPacking.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createDate">Ngày khởi tạo</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateDate">Ngày chỉnh sửa</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Hủy</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>
