<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transferPacking">
            <h2><span>Transfer Packing</span> {{transferPacking.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã nhân viên</span></dt>
                <dd>
                    <span>{{transferPacking.employeeId}}</span>
                </dd>
                <dt><span>Mã hóa đơn</span></dt>
                <dd>
                    <span>{{transferPacking.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Pack Date</span></dt>
                <dd>
                    <span>{{transferPacking.packDate}}</span>
                </dd>
                <dt><span>Start Hour</span></dt>
                <dd>
                    <span>{{transferPacking.startHour}}</span>
                </dd>
                <dt><span>Start Minute</span></dt>
                <dd>
                    <span>{{transferPacking.startMinute}}</span>
                </dd>
                <dt><span>End Hour</span></dt>
                <dd>
                    <span>{{transferPacking.endHour}}</span>
                </dd>
                <dt><span>End Minute</span></dt>
                <dd>
                    <span>{{transferPacking.endMinute}}</span>
                </dd>
                <dt><span>Trạng thái</span></dt>
                <dd>
                    <span>{{transferPacking.status}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{transferPacking.createDate}}</span>
                </dd>
                <dt><span>Ngày cập nhật</span></dt>
                <dd>
                    <span>{{transferPacking.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/transfer-packing', transferPacking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
