<div>
    <h2 id="page-heading">
        <span>Transfer Packings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transfer-packing" [routerLink]="['/transfer-packing/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Transfer Packing
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="transferPackings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>Mã số</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span>Mã nhân viên</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceHeaderId"><span>Mã hóa đơn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="packDate"><span>Pack Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startHour"><span>Start Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startMinute"><span>Start Minute</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endHour"><span>End Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endMinute"><span>End Minute</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Trạng thái</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span>Ngày khởi tạo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span>Ngày cập nhật</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transferPacking of transferPackings ;trackBy: trackId">
                <td><a [routerLink]="['/transfer-packing', transferPacking.id, 'view' ]">{{transferPacking.id}}</a></td>
                <td>{{transferPacking.employeeId}}</td>
                <td>{{transferPacking.invoiceHeaderId}}</td>
                <td>{{transferPacking.packDate | date:'medium'}}</td>
                <td>{{transferPacking.startHour}}</td>
                <td>{{transferPacking.startMinute}}</td>
                <td>{{transferPacking.endHour}}</td>
                <td>{{transferPacking.endMinute}}</td>
                <td>{{transferPacking.status}}</td>
                <td>{{transferPacking.createDate | date:'medium'}}</td>
                <td>{{transferPacking.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transfer-packing', transferPacking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Chi tiết</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transfer-packing', transferPacking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transfer-packing/'+ transferPacking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="transferPackings && transferPackings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
