<div class="container-fluid">
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row justify-content-center">
                <img src="'../../../content/images/logo-cts.png" style="width: 100px; height: 50px;">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row justify-content-center">
                <b>CONVENIENT TRANSPORT SYSTEM</b>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <p>
            <span><a href="#"> <fa-icon [icon]="'headset'">  </fa-icon> Hỗ Trợ </a></span>
            <span><b>&nbsp; || &nbsp; </b></span>
            <span><a href="#"> <fa-icon [icon]="'phone'">    </fa-icon> Liên Hệ </a></span>
            <span><b>&nbsp; || &nbsp; </b></span>
            <span><a href="#"> <fa-icon [icon]="'newspaper'"></fa-icon> Tin Tức </a></span>
            <span><b>&nbsp; || &nbsp; </b></span>
            <span><a href="#"> <fa-icon [icon]="'users'">    </fa-icon> About Us </a></span>
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
            ©2021 CTS TEAM. ALL RIGHTS RESERVED.
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
            All trademarks referenced herein are the properties of their respective owners.
        </div>
    </div>
    <br>
</div>