<div>
    <h2 id="page-heading">
        <span>Invoice Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-details" [routerLink]="['/invoice-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Invoice Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoiceDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceHeaderId"><span>Invoice Header Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemName"><span>Item Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemType"><span>Item Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weight"><span>Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="height"><span>Height</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="length"><span>Length</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="width"><span>Width</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="originImage"><span>Origin Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="damagesImage"><span>Damages Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span>Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span>Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceDetails of invoiceDetails ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-details', invoiceDetails.id, 'view' ]">{{invoiceDetails.id}}</a></td>
                <td>{{invoiceDetails.invoiceHeaderId}}</td>
                <td>{{invoiceDetails.itemName}}</td>
                <td>{{invoiceDetails.itemType}}</td>
                <td>{{invoiceDetails.weight}}</td>
                <td>{{invoiceDetails.height}}</td>
                <td>{{invoiceDetails.length}}</td>
                <td>{{invoiceDetails.width}}</td>
                <td>{{invoiceDetails.description}}</td>
                <td>{{invoiceDetails.originImage}}</td>
                <td>{{invoiceDetails.damagesImage}}</td>
                <td>{{invoiceDetails.createDate | date:'medium'}}</td>
                <td>{{invoiceDetails.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-details', invoiceDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-details', invoiceDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-details/'+ invoiceDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="invoiceDetails && invoiceDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
