<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoiceDetails">
            <h2><span>Invoice Details</span> {{invoiceDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã hóa đơn</span></dt>
                <dd>
                    <span>{{invoiceDetails.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Item Name</span></dt>
                <dd>
                    <span>{{invoiceDetails.itemName}}</span>
                </dd>
                <dt><span>Item Type</span></dt>
                <dd>
                    <span>{{invoiceDetails.itemType}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{invoiceDetails.weight}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{invoiceDetails.height}}</span>
                </dd>
                <dt><span>Length</span></dt>
                <dd>
                    <span>{{invoiceDetails.length}}</span>
                </dd>
                <dt><span>Width</span></dt>
                <dd>
                    <span>{{invoiceDetails.width}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{invoiceDetails.description}}</span>
                </dd>
                <dt><span>Origin Image</span></dt>
                <dd>
                    <span>{{invoiceDetails.originImage}}</span>
                </dd>
                <dt><span>Damages Image</span></dt>
                <dd>
                    <span>{{invoiceDetails.damagesImage}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{invoiceDetails.createDate}}</span>
                </dd>
                <dt><span>Ngày cập nhật</span></dt>
                <dd>
                    <span>{{invoiceDetails.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-details', invoiceDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
