<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-transfer-details-heading">Create or edit a Transfer Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transferDetails.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transferDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transferId">Transfer Id</label>
                    <input type="number" class="form-control" name="transferId" id="field_transferId"
                        [(ngModel)]="transferDetails.transferId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoicePackageId">Invoice Package Idackage Id</label>
                    <input type="number" class="form-control" name="invoicePackageId" id="field_invoicePackageId"
                        [(ngModel)]="transferDetails.invoicePackageId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
