<div class="row justify-content-center">
    <div class="col-10">
        <br>
        <br>
        <br>
        <br>
        <div *ngIf="importExportWarehouse">
            <h2>
                <span>
                    Chi tiết {{importExportWarehouse.type === 'import' ? 'yêu cầu nhập kho' : 'yêu cầu xuất kho'}}
                </span> - Mã số {{importExportWarehouse.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <!-- END header START body -->
            <div class="card-body">
                <br>
                <br>
                <h4>Danh sách đơn</h4>
                <div class="table-responsive" *ngIf="requestDetailsList">
                    <table class="table table-striped">
                        <thead>
                            <th> STT                    </th>
                            <th> Số hóa đơn             </th>
                            <th> Ngày giao dự kiến      </th>
                            <th> Tình trạng hóa đơn     </th>
                            <th> Loại vận chuyển          </th>
                            <th> Tình trạng vận chuyển          </th>
                            <th> Ngày chấp nhận     </th>
                            <th> Ngày tạo     </th>
                            <th> Ngày sửa đổi     </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of requestDetailsList; let i = index">
                                <td>{{i + 1}} </td>
                                <td>{{object.invoiceHeaderDTO.invoiceNo}} </td>
                                <td>{{object.invoiceHeaderDTO.dueDate | date:'yyyy-MM-dd HH:mm'}} </td>
                                <td>{{common.processInvoiceStatus(object.invoiceHeaderDTO.status)}} </td>
                                <td>{{common.processShipmentType(object.personalShipmentDTO.shipmentType)}} </td>
                                <td>{{common.processShipmentStatus(object.personalShipmentDTO.status)}} </td>
                                <td>{{object.invoiceHeaderDTO.reviewDate | date:'yyyy-MM-dd HH:mm'}} </td>
                                <td>{{object.invoiceHeaderDTO.createDate | date:'yyyy-MM-dd HH:mm'}} </td>
                                <td>{{object.invoiceHeaderDTO.updateDate | date:'yyyy-MM-dd HH:mm'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" *ngIf="!requestDetailsList">
                    <h4>
                        Không có kết quả trả về
                    </h4>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
