<div>
    <h2 id="page-heading">
        <span>Import Export Warehouses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-import-export-warehouse" [routerLink]="['/import-export-warehouse/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Import Export Warehouse
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="importExportWarehouses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="officeId"><span>Office Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="keeperId"><span>Keeper Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span>Employee Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span>Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="keeperConfirm"><span>Keeper Confirm</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shipDate"><span>Ship Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span>Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span>Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let importExportWarehouse of importExportWarehouses ;trackBy: trackId">
                <td><a [routerLink]="['/import-export-warehouse', importExportWarehouse.id, 'view' ]">{{importExportWarehouse.id}}</a></td>
                <td>{{importExportWarehouse.officeId}}</td>
                <td>{{importExportWarehouse.keeperId}}</td>
                <td>{{importExportWarehouse.employeeId}}</td>
                <td>{{importExportWarehouse.type}}</td>
                <td>{{importExportWarehouse.note}}</td>
                <td>{{importExportWarehouse.keeperConfirm}}</td>
                <td>{{importExportWarehouse.shipDate | date:'medium'}}</td>
                <td>{{importExportWarehouse.createDate | date:'medium'}}</td>
                <td>{{importExportWarehouse.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/import-export-warehouse', importExportWarehouse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/import-export-warehouse', importExportWarehouse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'import-export-warehouse/'+ importExportWarehouse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="importExportWarehouses && importExportWarehouses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
