<div class="row justify-content-center">
    <div class="col-lg-10">
        <br>
        <br>
        <br>
        <div *ngIf="importExportWarehouse">
            <h2>
                <span>
                    Chi tiết {{importExportWarehouse.type === 'import' ? 'yêu cầu nhập kho' : 'yêu cầu xuất kho'}}
                </span> - Mã số {{importExportWarehouse.id}}
            </h2>
            <hr>
            <jhi-alert></jhi-alert>

            <div class="table table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th> <input type="checkbox" [(ngModel)]="this.all" (change)="checkAll($event)"
                                placeholder="All"> </th>
                        <th> STT </th>
                        <th> Số hóa đơn </th>
                        <th> Trạng thái </th>
                        <th> Số gói hàng </th>
                        <th> Tổng khối lượng </th>
                        <th> Kích thước </th>
                        <th> Ghi chú </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let object of requestDetailsList; let i = index">
                            <td><input type="checkbox" id="chkBox{{i}}" [(ngModel)]="selectedCheckBox[i]"
                                    (change)="checked(i, $event)"></td>
                            <td>{{i + 1}} </td>
                            <td>{{object.invoiceHeader.invoiceNo}} </td>
                            <td>{{common.processInvoiceStatus(object.invoiceHeader.status)}} </td>
                            <td>{{object.packageList.length}} (g) </td>
                            <td>{{totalWeight(object.packageList)}} </td>
                            <td>
                                <span *ngFor="let pk of object.packageList ; let pi = index">
                                    #{{pi}}: {{pk.length}}(cm) x {{pk.width}}(cm) x {{pk.height}}(cm): {{pk.weight}}(g) <br/>
                                </span>
                            </td>
                            <td>
                                <input  type="text" id="note{{i}}" [(ngModel)]="object.requestDetails.note">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3 ">
                    <button type="submit" (click)="previousState()" style="width: 150px;" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
                    </button>
                </div>
                <div class="col-lg-3 ">
                    <button type="submit" (click)="processAction(0)" style="width: 150px;"
                        *ngIf="!importExportWarehouse.keeperConfirm" class="btn btn-danger">
                        <fa-icon [icon]="'times'"></fa-icon>&nbsp;&nbsp;<span> Hủy</span>
                    </button>
                </div>
                <div class="col-lg-2 ">
                    <button type="submit" (click)="processAction(1)" style="width: 150px;"
                        *ngIf="!importExportWarehouse.keeperConfirm" class="btn btn-success">
                        <fa-icon [icon]="'check'"></fa-icon>&nbsp;&nbsp;<span> Chấp thuận</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
