<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="importExportWarehouse">
            <h2>
                <span>
                    Chi tiết {{importExportWarehouse.type === 'import' ? 'yêu cầu nhập kho' : 'yêu cầu xuất kho'}}
                </span> mã số {{importExportWarehouse.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <div class="table table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th> <input type="checkbox" [(ngModel)]="this.all" (change)="checkAll()" placeholder="All">
                        </th>
                        <th> STT                    </th>
                        <th> Số hóa đơn             </th>
                        <th> Ngày giao dự kiến      </th>
                        <th> Tình trạng hóa đơn     </th>
                        <th> Số kiện hàng           </th>
                        <th> Ngày chấp nhận     </th>
                        <th> Ngày tạo     </th>
                        <th> Ngày sửa đổi     </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let object of requestDetailsList; let i = index">
                            <td><input type="checkbox" id="chkBox{{i}}" [(ngModel)]="selectedCheckBox[i]"
                                (change)="checked(i, $event)"></td>
                            <td>{{i + 1}} </td>
                            <td>{{object.invoice.invoiceNo}} </td>
                            <td>{{object.invoice.dueDate | date:'yyyy-MM-dd HH:mm'}} </td>
                            <td>{{common.processInvoiceStatus(object.invoice.status)}} </td>
                            <td>{{object.packageList.length}} </td>
                            <td>{{object.invoice.reviewDate | date:'yyyy-MM-dd HH:mm'}} </td>
                            <td>{{object.invoice.createDate | date:'yyyy-MM-dd HH:mm'}} </td>
                            <td>{{object.invoice.updateDate | date:'yyyy-MM-dd HH:mm'}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-4 ">
                    <button type="submit" (click)="previousState()" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
                    </button>
                </div>
                <div class="col-lg-4 ">
                    <button type="button" (click)="processAction(0)"
                        class="btn btn-danger">
                        <fa-icon [icon]="'times'"></fa-icon>&nbsp;&nbsp;<span> Hủy</span>
                    </button>
                </div>
                <div class="col-lg-4 ">
                    <button type="button" (click)="processAction(1)"
                        class="btn btn-success">
                        <fa-icon [icon]="'check'"></fa-icon>&nbsp;&nbsp;<span> Chấp thuận</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
