<div class="row justify-content-center">
    <div class="col-10">
        <br>
        <br>
        <br>
        <br>
        <div *ngIf="importExportWarehouse">
            <h2>
                <span>
                    Chi tiết {{importExportWarehouse.type === 'import' ? 'yêu cầu nhập kho' : 'yêu cầu xuất kho'}}
                </span> - Mã số {{importExportWarehouse.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <!-- END header START body -->
            <div class="card-body">
                <br>
                <br>
                <h4>Danh sách đơn</h4>
                <div class="table-responsive" *ngIf="requestDetailsList">
                    <table class="table table-striped">
                        <thead>
                            <th> STT </th>
                            <th> Số hóa đơn </th>
                            <th> Số gói hàng </th>
                            <th> Tổng khối lượng </th>
                            <th> Kích thước </th>
                            <th> Ghi chú </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of requestDetailsList; let i = index">
                                <td>{{i + 1}} </td>
                                <td>{{object.invoiceHeader.invoiceNo}} </td>
                                <td>{{object.packageList.length}} (g) </td>
                                <td>{{totalWeight(object.packageList)}} </td>
                                <td>
                                    <span *ngFor="let pk of object.packageList ; let pi = index">
                                        #{{pi + 1}}: {{pk.length}}(cm) x {{pk.width}}(cm) x {{pk.height}}(cm): {{pk.weight}}(g) <br/>
                                    </span>
                                </td>
                                <td>{{object.requestDetails.note? object.requestDetails.note : ''}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" *ngIf="!requestDetailsList">
                    <h4>
                        Không có dữ liệu
                    </h4>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
