<div>
    <h2 id="page-heading">
        <span>Quản lý khu vực làm việc</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-working-area" [routerLink]="['/working-area/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Tạo khu vực
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="workingAreas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Id Đường</span></th>
            <th><span>Id Nhân viên</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workingArea of workingAreas ;trackBy: trackId">
                <td><a [routerLink]="['/working-area', workingArea.id, 'view' ]">{{workingArea.id}}</a></td>
                <td>{{workingArea.streetId}}</td>
                <td>{{workingArea.employeeId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/working-area', workingArea.id , 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Chỉnh sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'working-area/'+ workingArea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
