<div class="row justify-content-center">
    <div class="col-lg-10">
        <br>
        <br>
        <div>
            <h2 id="jhi-working-area-heading">Chỉ định khu vực làm việc</h2>
            <div>
                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>
                <div class="divider"></div>

                <!-- START show employee information -->
                <label class="form-control-label" for="from-address">
                    <h4>Thông tin nhân viên giao hàng</h4>
                </label>
                <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_customerId">Nhân viên</label>
                            <ng-select [clearable]="true" [hideSelected]="true" [items]="this.lstUser" bindLabel="email"
                                id="field_customerId" name="field_customerId" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="this.selectedUser" (change)="this.changeUser()">
                                <ng-option *ngFor="let item of lstUser">{{item.email}}</ng-option>
                            </ng-select>
                        </div>
                        <br />
                        <div class="col-lg-12" *ngIf="this.selectedUserProfile && this.selectedUserProfile.id">
                            <table class="table">
                                <tr>
                                    <th class="text-left">Họ Tên</th>
                                    <td class="text-left">{{this.selectedUser.firstName + ' '
                                        +this.selectedUser.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-left">Giới tính</th>
                                    <td class="text-left">{{this.selectedUserProfile.gender}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Số điện thoại</th>
                                    <td class="text-left">{{this.selectedUserProfile.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Địa chỉ</th>
                                    <td class="text-left">{{this.selectedUserProfile.address}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="divider"></div>
            <!-- END   show employee information -->

            <!-- START choose address -->
            <div>
                <label class="form-control-label" for="from-address">
                    <h4>Chọn khu vực làm việc</h4>
                </label>
                <div>
                    <div name="from-address" style="border: gray solid thin; border-radius: 5px; padding: 5%;">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="province">Tỉnh/Thành phố</label>
                                    <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstProvince"
                                        bindLabel="provinceName" bindValue="id"  id="province" name="province"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedProvince"
                                        (change)="this.changeCity('from')">
                                        <ng-option *ngFor="let item of lstProvince">{{item.provinceName}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="district">Quận/Huyện</label>
                                    <ng-select [disabled]="!this.lstDistrict"
                                        [clearable]="false" [hideSelected]="true" [items]="this.lstDistrict"
                                        bindLabel="districtName" bindValue="id"  id="district" name="district"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedDistrict"
                                        (change)="this.changeDistrict('from')" [disabled]="this.lstDistrict == null">
                                        <ng-option *ngFor="let item of lstDistrict">{{item.districtName}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="subDistrict">Phường/Xã</label>
                                    <ng-select [disabled]="!this.lstSubDistrict"
                                        [clearable]="false" [hideSelected]="true" [items]="this.lstSubDistrict"
                                        bindLabel="subDistrictName" bindValue="id" id="subDistrict" name="subDistrict"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedSubDistrict"
                                        (change)="this.changeSubDistrict('from')"
                                        [disabled]="this.lstSubDistrict == null">
                                        <ng-option *ngFor="let item of lstSubDistrict">{{item.subDistrictName}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="street">Đường</label>
                                    <ng-select [disabled]="!this.lstStreet"
                                        [clearable]="false" [hideSelected]="true" [items]="this.lstStreet"
                                        bindLabel="streetName" bindValue="id"  id="street" name="street"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedStreet"
                                        (change)="onChange()" [disabled]="this.lstStreet == null">
                                        <ng-option *ngFor="let item of lstStreet">{{item.streetName}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <!-- START button  -->
                        <div>
                            <br />
                            <div>
                                <button style="margin-left: 85%;" id="save-entity" (click)="save()"
                                    [disabled]="isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;&nbsp;<span>Lưu</span>
                                </button>
                            </div>
                        </div>
                        <!-- END button -->
                    </div>
                </div>
            </div>
            <!-- END   choose address -->

            <!-- START view all areas -->
            <div>
                <div class="card-body">
                    <div class="table-responsive" *ngIf="!areas || areas.length === 0">
                        <h2>Không có dữ liệu</h2>
                    </div>
                    <div class="table-responsive" *ngIf="areas && areas.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><span>#</span></th>
                                    <th><span>Tên Đường/Phố</span></th>
                                    <th><span>Mã Nhân viên</span></th>
                                    <th><span>Tên Nhân viên</span></th>
                                    <th><span>Email</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let area of areas ;trackBy: trackId">
                                    <td><a>{{area.workingArea.id}}</a></td>
                                    <td>{{area.streetName}}</td>
                                    <td>{{area.workingArea.employeeId}}</td>
                                    <td>{{findEmployee(area.workingArea.employeeId)}}</td>
                                    <td>{{findEmail(area.workingArea.employeeId)}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                [routerLink]="['/working-area', area.workingArea.id , 'edit']"
                                                class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Chỉnh sửa</span>
                                            </button>
                                            <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'working-area/'+ area.workingArea.id + '/delete'} }]"
                                                replaceUrl="true" queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Xóa</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="areas && areas.length">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                [itemsPerPage]="itemsPerPage">
                            </jhi-item-count>
                        </div>
                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END view all areas -->
        </div>
    </div>
</div>
