<div class="row justify-content-center">
    <div class="col-8">
    <br>
<br>
        <div *ngIf="workingArea">
            <h2><span>Working Area</span> {{workingArea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã Đường/Phố</span></dt>
                <dd>
                    <span>{{workingArea.streetId}}</span>
                </dd>
                <dt><span>Mã nhân viên</span></dt>
                <dd>
                    <span>{{workingArea.employeeId}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{workingArea.createDate}}</span>
                </dd>
                <dt><span>Ngày cập nhật</span></dt>
                <dd>
                    <span>{{workingArea.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/working-area', workingArea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
