<div class="row justify-content-center">
    <div class="col-lg-11">
        <br>
        <br>
        <div class="row" style="border-bottom: 2px solid;">
            <h2 *ngIf="settingsAccount" style="font-weight: bold;">Chỉnh sửa thông tin: {{settingsAccount.login}}</h2>
        </div>
        <br>
        <br>
        <div class="alert alert-success" *ngIf="success">
            <strong>Đã lưu thông tin!</strong>
        </div>
        <jhi-alert></jhi-alert>

        <form #form="ngForm" name="form" role="form" (ngSubmit)="save(form)" #settingsForm="ngForm"
            *ngIf="settingsAccount" novalidate>
            <div class="card">
                <div class="card-header">
                    <label for="user-profile"><b>Thông tin tài khoản</b></label>
                </div>
                <div class="card-body" name="user-profile">
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                            [(ngModel)]="settingsAccount.email" minlength="5" maxlength="254" #emailInput="ngModel"
                            email required readonly>
                        <div *ngIf="emailInput.dirty && emailInput.invalid">
                            <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                Trường email trống.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                                Định dạng email sai.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                Độ dài email tối thiểu 5 ký tự.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                Độ dài email vượt quá 100 ký tự.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label" for="lastName">Tên</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                    placeholder="Your last name" [(ngModel)]="settingsAccount.lastName" minlength=1
                                    maxlength=50 #lastNameInput="ngModel" required>
                                <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.required">
                                        Trường Tên trống.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.minlength">
                                        Độ dài trường Tên tối thiểu là 2 ký tự.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength">
                                        Độ dài trường Tên tối da 50 ký tự.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label" for="firstName">Họ</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    placeholder="Your first name" [(ngModel)]="settingsAccount.firstName" minlength=1
                                    maxlength=50 #firstNameInput="ngModel" required>
                                <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                                        Trường Họ trống.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.minlength">
                                        Độ dài trường Họ tối thiểu là 2 ký tự.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                                        Độ dài trường Họ tối da là 50 ký tự.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="gender">Giới tính</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstGender"
                                    bindLabel="text" bindValue="id" id="gender" name="gender"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="this.userProfile.gender">
                                    <ng-option *ngFor="let item of lstGender">{{item.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="gender">Số điện thoại</label>
                                <input class="form-control" type="text" [(ngModel)]="this.userProfile.phoneNumber"
                                    value="{{this.userProfile.phoneNumber}}" id="phone" name="phone" length=10
                                    [pattern]="vnf_regex" #phoneInput="ngModel">
                            </div>
                            <div *ngIf="phoneInput.errors && form.submitted && !isValidFormSubmitted"
                                [ngClass]="'error'">
                                <small class="form-text text-danger" *ngIf="phoneInput.errors.pattern">
                                    Số điện thoại phải là số và gồm 10 số, có dạng 09/08/07/05/03xxxxxxxx
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="dob">Ngày sinh</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                        [(ngModel)]="this.userProfile.dateOfBirth" ngbDatepicker #d="ngbDatepicker"
                                        readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-header">
                    <label for="user-address"><b>Địa chỉ</b></label>
                </div>
                <div class="card-body" name="user-address">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="province">Tỉnh/Thành phố</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstProvince"
                                    bindLabel="provinceName" bindValue="id" id="province" name="province"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedProvince"
                                    (change)="this.changeCity()">
                                    <ng-option *ngFor="let item of lstProvince">{{item.provinceName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="district">Quận/Huyện</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstDistrict"
                                    bindValue="id" bindLabel="districtName" id="district" name="district"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedDistrict"
                                    (change)="this.changeDistrict()" [disabled]="!this.selectedProvince">
                                    <ng-option *ngFor="let item of lstDistrict">{{item.districtName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="subDistrict">Phường/Xã</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstSubDistrict"
                                    bindLabel="subDistrictName" bindValue="id" id="subDistrict" name="subDistrict"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedSubDistrict"
                                    (change)="this.changeSubDistrict()" [disabled]="!this.selectedDistrict">
                                    <ng-option *ngFor="let item of lstSubDistrict">{{item.subDistrictName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="street">Đường/Phố</label>
                                <ng-select [clearable]="false" [hideSelected]="true" [items]="this.lstStreet"
                                    bindLabel="streetName" bindValue="id" id="street" name="street"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="this.userProfile.streetId"
                                    [disabled]="!this.selectedSubDistrict">
                                    <ng-option *ngFor="let item of lstStreet">{{item.streetName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <textarea class="form-control" style="resize: none;" rows="3" id="address"
                                    name="address" [(ngModel)]="this.userProfile.address" [pattern]="adr_regex"
                                    #addressInput='ngModel'>
                                </textarea>
                            </div>
                            <div *ngIf="addressInput.errors && form.submitted && !isValidFormSubmitted"
                                [ngClass]="'error'">
                                <small class="form-text text-danger" *ngIf="addressInput.errors.pattern">
                                    Địa chỉ tối thiểu là 1 ký tự và tối đa 50 ký tự
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Lưu thông tin</button>
        </form>
    </div>
</div>
<br>
<br>
