<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Kích hoạt tài khoản</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Tài khoản của bạn đã được kích hoạt.</strong> Hãy </span>
                <a class="alert-link" (click)="login()">đăng nhập</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Không thể kích hoạt tài khoản.</strong> Hãy đăng ký tài khoản
            </div>

        </div>
    </div>
</div>
