<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personalShipment">
            <h2><span>Personal Shipment</span> {{personalShipment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Mã hóa đơn</span></dt>
                <dd>
                    <span>{{personalShipment.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Mã nhân viên</span></dt>
                <dd>
                    <span>{{personalShipment.employeeId}}</span>
                </dd>
                <dt><span>Shipment Type</span></dt>
                <dd>
                    <span>{{personalShipment.shipmentType}}</span>
                </dd>
                <dt><span>Ship Time</span></dt>
                <dd>
                    <span>{{personalShipment.shipTime}}</span>
                </dd>
                <dt><span>Finish Time</span></dt>
                <dd>
                    <span>{{personalShipment.finishTime}}</span>
                </dd>
                <dt><span>Trạng thái</span></dt>
                <dd>
                    <span>{{personalShipment.status}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{personalShipment.createDate}}</span>
                </dd>
                <dt><span>Ngày chỉnh sửa</span></dt>
                <dd>
                    <span>{{personalShipment.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/personal-shipment', personalShipment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
