<div>
    <h2 id="page-heading">
        <span>Personal Shipment</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-header" [routerLink]="['/invoice-header/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Invoice Header
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <br />

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="invoiceNumber">Invoice Number</label>
                <input type="text" class="form-control" placeholder="(ALL)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedInvoiceNumber" value="{{selectedInvoiceNumber}}">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="form-group">
                <label for="type">Type</label>
                <ng-select [clearable]="true" [hideSelected]="true" [items]="common.listTypeShipment" bindLabel="text"
                    bindValue="id" id="type" name="type" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="this.selectedTypeShipment" placeholder="(ALL)">
                    <ng-option *ngFor="let item of common.listTypeShipment">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="form-group">
                <button style="margin-top: 30px" id="search" name="search" class="btn btn-primary"
                    (click)="this.loadAll()">
                    <fa-icon [icon]="'search'"></fa-icon>
                    <span>Search</span>
                </button>
            </div>
        </div>
    </div>
    <br>
    <h4>My Shipment</h4>
    <div class="table-responsive" *ngIf="shipmentInvoices">
        <table class="table table-striped">
            <thead>
                <th> # </th>
                <th> Invoice Number </th>
                <th> Due Date </th>
                <th> Invoice Status </th>
                <th> Shipment Type</th>
                <th> Shipment Status</th>
                <th> Collect Address </th>
                <th> Destination Address </th>
                <th> Action </th>
            </thead>
            <tbody>
                <tr *ngFor="let object of shipmentInvoices">
                    <td>{{object.invoiceHeaderDTO.id}} </td>
                    <td>{{object.invoiceHeaderDTO.invoiceNo}} </td>
                    <td>{{object.invoiceHeaderDTO.dueDate | date:'yyyy-MM-dd HH:mm'}} </td>
                    <td>{{common.processInvoiceStatus(object.invoiceHeaderDTO.status)}} </td>
                    <td>{{common.processShipmentType(object.personalShipmentDTO.shipmentType)}} </td>
                    <td>{{common.processShipmentStatus(object.personalShipmentDTO.status)}} </td>
                    <td>{{object.invoiceHeaderDTO.startAddress}} </td>
                    <td>{{object.invoiceHeaderDTO.destinationAddress}} </td>
                    <td class="text-left">
                        <button type="submit" [routerLink]="['/invoice-header', object.invoiceHeaderDTO.id, 'view' ]"
                            class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *ngIf="object.personalShipmentDTO.shipmentType === 'collect'"
                                [disabled]="object.personalShipmentDTO.status === 'finish' || object.invoiceHeaderDTO.status !== 'collect'"
                                type="submit"
                                [routerLink]="['/receiptnote', object.invoiceHeaderDTO.id, 'view']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'check-circle'"></fa-icon>
                            <span class="d-none d-md-inline">Finish Collect</span>
                        </button>
                        <button *ngIf="object.personalShipmentDTO.shipmentType === 'delivery'"
                                type="submit"
                                [disabled]="object.personalShipmentDTO.status === 'finish' || object.invoiceHeaderDTO.status !== 'delivering'"
                                [routerLink]="['/', { outlets: { popup: 'invoice-header/'+ object.invoiceHeaderDTO.id + '/finish'} }]"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'check'"></fa-icon>
                            <span class="d-none d-md-inline">Finish Invoice</span>
                        </button>
                        <button type="submit" *ngIf="!object.invoiceHeaderDTO.changeNote"
                                [routerLink]="['/', { outlets: { popup: 'personal-shipment-cancel-invoice/'+ object.invoiceHeaderDTO.id + '/send-request'} }]"
                                [disabled]="object.invoiceHeaderDTO.changeNote"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Request  cancel</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shipmentInvoices && shipmentInvoices.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
