<div class="row justify-content-center">
    <div class="col-11">
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="border-bottom: 2px solid;">
            <h2 style="font-weight: bold;" id="page-heading">
                <span>Đơn giao hàng cá nhân</span>
            </h2>
        </div>
        <br>
        <br>
        <jhi-alert></jhi-alert>
        <br />
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="invoiceNumber">Số hóa đơn</label>
                            <input type="text" class="form-control" placeholder="(ALL)"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedInvoiceNumber"
                                value="{{selectedInvoiceNumber}}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="type">Loại đơn chuyển phát</label>
                            <ng-select [clearable]="false" [hideSelected]="true" [items]="common.listTypeShipment"
                                bindLabel="text" bindValue="id" id="type" name="type"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedTypeShipment"
                                placeholder="(ALL)">
                                <ng-option *ngFor="let item of common.listTypeShipment">{{item.text}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                    </div>
                </div>
                <br />
                <label for="createOn">Ngày giao dự kiến:</label>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="createOn">Từ ngày</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="createOn"
                                    [(ngModel)]="this.fromTime" ngbDatepicker #b="ngbDatepicker" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="this.clearDatepicker(2)"
                                        type="button">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="updateOn">Đến ngày</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="updateOn"
                                    [(ngModel)]="this.toTime" ngbDatepicker #c="ngbDatepicker" readonly>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="this.clearDatepicker(3)"
                                        type="button">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="c.toggle()" type="button">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-6 text-center">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                        <div class="form-group">
                            <button style="margin-top: 30px" id="search" name="search" class="btn btn-primary"
                                (click)="this.loadAll()">
                                <fa-icon [icon]="'search'"></fa-icon>
                                <span>Tìm kiếm</span>
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <!-- END header START body -->
            <div class="card-body">
                <br>
                <br>
                <h4>Danh sách đơn</h4>
                <div class="table-responsive" *ngIf="shipmentInvoices">
                    <table class="table table-striped">
                        <thead>
                            <th> <input type="checkbox" [(ngModel)]="this.all" (change)="checkAll($event)"
                                    placeholder="All">
                            </th>
                            <th> STT </th>
                            <th> Số hóa đơn </th>
                            <th> Ngày giao dự kiến </th>
                            <th> Tình trạng hóa đơn </th>
                            <th> Loại đơn </th>
                            <th> Tình trạng giao hàng </th>
                            <th> Điểm nhận đơn </th>
                            <th> Giao tới </th>
                            <th> Ghi chú </th>
                            <th> Hành động </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let object of shipmentInvoices; let i = index">
                                <td><input type="checkbox" id="chkBox{{i}}" [(ngModel)]="selectedCheckBox[i]"
                                        (change)="checked(i, $event)"></td>
                                <td>{{i + 1}} </td>
                                <td>{{object.invoiceHeaderDTO.invoiceNo}} </td>
                                <td>{{object.invoiceHeaderDTO.dueDate | date:'yyyy-MM-dd HH:mm'}} </td>
                                <td>{{common.processInvoiceStatus(object.invoiceHeaderDTO.status)}} </td>
                                <td>{{common.processShipmentType(object.personalShipmentDTO.shipmentType)}} </td>
                                <td>{{common.processShipmentStatus(object.personalShipmentDTO.status)}} </td>
                                <td>{{object.invoiceHeaderDTO.startAddress}} </td>
                                <td>{{object.invoiceHeaderDTO.destinationAddress}} </td>
                                <td>
                                    <button
                                        *ngIf="calculateObject(object) && object.personalShipmentDTO.shipmentType === 'collect'"
                                        disabled class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'check-circle'"></fa-icon>
                                        <span class="d-none d-md-inline">Đủ điều kiện nhập kho</span>
                                    </button>
                                    <button
                                        *ngIf="calculateObject(object) && object.personalShipmentDTO.shipmentType === 'delivery'"
                                        disabled class="btn btn-success btn-sm">
                                        <fa-icon [icon]="'check'"></fa-icon>
                                        <span class="d-none d-md-inline">Đủ điền kiện xuất kho</span>
                                    </button>
                                </td>
                                <td class="text-left">
                                    <button type="submit"
                                        [routerLink]="['/invoice-header', object.invoiceHeaderDTO.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">Chi tiết</span>
                                    </button>
                                    <button *ngIf="object.personalShipmentDTO.shipmentType === 'collect'"
                                        [disabled]="object.invoiceHeaderDTO.changeNote === 'request'" type="submit"
                                        [routerLink]="['/receiptnote', object.personalShipmentDTO.id, 'new-receipt']"
                                        class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'check-circle'"></fa-icon>
                                        <span class="d-none d-md-inline">Hoàn thành lấy hàng</span>
                                    </button>
                                    <button *ngIf="object.personalShipmentDTO.shipmentType === 'delivery'"
                                        [disabled]="object.invoiceHeaderDTO.changeNote  === 'request'" type="submit"
                                        [routerLink]="['/receiptnote', object.personalShipmentDTO.id, 'new-receipt']"
                                        class="btn btn-success btn-sm">
                                        <fa-icon [icon]="'check'"></fa-icon>
                                        <span class="d-none d-md-inline">Hoàn thành giao hàng</span>
                                    </button>
                                    <button type="submit" *ngIf="!object.invoiceHeaderDTO.cancel && object.invoiceHeaderDTO.changeNote !== 'request'"
                                        [routerLink]="['/', { outlets: { popup: 'personal-shipment-cancel-invoice/'+ object.invoiceHeaderDTO.id + '/send-request'} }]"
                                        class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Yêu cầu hủy</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="shipmentInvoices && shipmentInvoices.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
                        </jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
