<form name="requestForm" (ngSubmit)="confirmRequest(invoiceHeader)">
    <br>
    <br>
    <br>
    <br>
    <div class="modal-header">
        <h4 class="modal-title">Gửi yêu cầu hủy đơn hàng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <i style="color: red;">{{check}}</i>
        <div class="form-group">
            <label class="form-control-label" for="reason">Lý do hủy</label>
            <textarea class="form-control" style="resize: none;" rows="2" id="reason" name="reason"
                [(ngModel)]="invoiceHeader.cancelReason">
            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span>Hủy</span>
        </button>
        <button id="jhi-confirm-request-invoiceHeader" type="submit" class="btn btn-primary">
            <fa-icon [icon]="'check'"></fa-icon>&nbsp;&nbsp;<span>Gửi yêu cầu</span>
        </button>
    </div>
</form>
