<div>
    <h2 id="page-heading">
        <span>Receiptnotes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receiptnote" [routerLink]="['/receiptnote/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Tạo mới Biên nhận
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="receiptnotes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Mã số</span></th>
            <th><span>Mã nhân viên</span></th>
            <th><span>Mã hóa đơn</span></th>
            <th><span>Ghi chú</span></th>
            <th><span>Ngày tạo</span></th>
            <th><span>Ngày cập nhật</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receiptnote of receiptnotes ;trackBy: trackId">
                <td><a [routerLink]="['/receiptnote', receiptnote.id, 'view' ]">{{receiptnote.id}}</a></td>
                <td>{{receiptnote.employeeId}}</td>
                <td>{{receiptnote.invoiceHeaderId}}</td>
                <td>{{receiptnote.note}}</td>
                <td>{{receiptnote.createDate | date:'medium'}}</td>
                <td>{{receiptnote.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/receiptnote', receiptnote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Chi tiết</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/receiptnote', receiptnote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receiptnote/'+ receiptnote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="receiptnotes && receiptnotes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
