<div class="row justify-content-center">
    <div class="col-11">
        <br>
        <div class="row" style="border-bottom: 2px solid;">
            <h2 style="font-weight: bold;">Xác nhận biên lai</h2>
        </div>
        <br>
        <jhi-alert></jhi-alert>
        <br/>
        <div *ngIf="!receiptNoteInvoices">
            <h3 id="">
                Bạn không có biên lai cần xác nhận
            </h3>
        </div>
        <div class="table-responsive" *ngIf="receiptNoteInvoices">
            <table class="table table-striped">
                <thead>
                <tr>
                <th><span>Mã số</span> </th>
                <th><span>Số hóa đơn</span></th>
                <th><span>Invoice Note</span></th>
                <th><span>Receipt Note</span></th>
                <th><span>Confirmed</span></th>
                <th><span>Ngày khởi tạo</span></th>
                <th class="text-right"><span>Ngày cập nhật</span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obj of receiptNoteInvoices">
                    <td><a>{{obj.receiptNote.id}}</a></td>
                    <td>{{obj.invoiceHeader.invoiceNo}}</td>
                    <td>{{obj.invoiceHeader.note}}</td>
                    <td>{{obj.receiptNote.note}}</td>
                    <td>{{obj.receiptNote.customerConfirm ? "Yes" : "No"}}</td>
                    <td>{{obj.receiptNote.createDate | date:'yyyy-MM-dd'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'receiptnote-user/'+ obj.receiptNote.id + '/confirm'} }]"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Xác nhận</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
