<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div class="row">
                <div class="col-12">
                    <h2 *ngIf="this.user.id"> Edit User Account</h2>
                    <h2 *ngIf="!this.user.id">Create New User Account</h2>
                </div>
            </div>
            <div>
            <jhi-alert-error></jhi-alert-error>
                <!-- JHI-USER -->
                <label for="user-address"><b>User Credential</b></label>
                <div name="user-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                    <div class="form-group" [hidden]="!user.id">
                        <label>Mã số</label>
                        <input type="text" class="form-control" name="id"
                            [(ngModel)]="user.id" readonly>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label">Login</label>
                                <input type="text" class="form-control" name="login" #loginInput="ngModel" [readOnly]="this.user.id"
                                    [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">

                                <div *ngIf="loginInput.dirty && loginInput.invalid">
                                    <small class="form-text text-danger"
                                    *ngIf="loginInput.errors.required">
                                        This field is required.
                                    </small>

                                    <small class="form-text text-danger"
                                    *ngIf="loginInput.errors.maxlength"
                                >
                                        This field cannot be longer than 50 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                    *ngIf="loginInput.errors.pattern">
                                        This field can only contain letters, digits and e-mail addresses.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input type="email" class="form-control" name="email" #emailInput="ngModel" [readOnly]="this.user.id"
                                    [(ngModel)]="user.email" minlength="5" required maxlength="254" email>

                                <div *ngIf="emailInput.dirty && emailInput.invalid">
                                    <small class="form-text text-danger"
                                    *ngIf="emailInput.errors.required">
                                        This field is required.
                                    </small>

                                    <small class="form-text text-danger"
                                    *ngIf="emailInput.errors.maxlength"
                                >
                                        This field cannot be longer than 100 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                    *ngIf="emailInput.errors.minlength"
                                >
                                        This field is required to be at least 5 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                    *ngIf="emailInput.errors.email">
                                        Your email is invalid.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">First Name</label>
                                <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                                    [(ngModel)]="user.firstName" maxlength="50">

                                <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                    <small class="form-text text-danger"
                                    *ngIf="firstNameInput.errors.maxlength"
                                >
                                        This field cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                                    [(ngModel)]="user.lastName" maxlength="50">

                                <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                    <small class="form-text text-danger"
                                    *ngIf="lastNameInput.errors.maxlength"
                                >
                                        This field cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Profiles</label>
                                <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                                    <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- JHI-USER -->

                    <!-- User Profile -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Giới tính</label>
                                <ng-select  [clearable]="false"
                                            [hideSelected]="true"
                                            [items]="this.lstGender"
                                            bindLabel="text"
                                            bindValue="id"
                                            id="gender"
                                            name="gender"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.userProfile.gender"
                                            >
                                    <ng-option *ngFor="let item of lstGender">{{item.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input  class="form-control"
                                        type="text"
                                        [(ngModel)]="this.userProfile.phoneNumber"
                                        value="{{this.userProfile.phoneNumber}}"
                                        id="phone"
                                        name="phone"
                                        >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="dob">Ngày sinh</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="dp" [(ngModel)]="this.userProfile.dateOfBirth" ngbDatepicker #d="ngbDatepicker" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Working Office</label>
                                <ng-select  [clearable]="false"
                                            [hideSelected]="true"
                                            [items]="this.lstOffice"
                                            bindLabel="officeName"
                                            bindValue="id"
                                            id="office"
                                            name="office"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.userProfile.officeId"
                                            >
                                    <ng-option *ngFor="let item of lstOffice">{{item.officeName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="hire">Hire Date</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="hire" [(ngModel)]="this.userProfile.hireDate" ngbDatepicker #hire="ngbDatepicker" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="hire.toggle()" type="button">
                                            <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="end">End Date</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="end" [(ngModel)]="this.userProfile.endDate" ngbDatepicker #end="ngbDatepicker" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
                                            <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>PIT Code</label>
                                <input  class="form-control"
                                        type="text"
                                        [(ngModel)]="this.userProfile.pitCode"
                                        value="{{this.userProfile.pitCode}}"
                                        id="pit"
                                        name="pit">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="socialNum">Social Number</label>
                                <input  class="form-control"
                                        type="text"
                                        [(ngModel)]="this.userProfile.socialNumber"
                                        value="{{this.userProfile.socialNumber}}"
                                        id="socialNum"
                                        name="socialNum">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User Profile -->
            </div>
            <br>
<br>
                <label for="user-address"><b>User Address</b></label>
                <div name="user-address" style="border: gray solid thin; border-radius: 5px; padding: 2%;">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="province">Tỉnh/Thành phố</label>
                                <ng-select  [clearable]="false"
                                            [hideSelected]="true"
                                            [items]="this.lstProvince"
                                            bindLabel="provinceName"
                                            bindValue="id"
                                            id="province"
                                            name="province"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedProvince"
                                            (change)="this.changeCity()"
                                            >
                                    <ng-option *ngFor="let item of lstProvince">{{item.provinceName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="district">Quận/Huyện</label>
                                <ng-select  [clearable]="false"
                                            [hideSelected]="true"
                                            [items]="this.lstDistrict"
                                            bindValue="id"
                                            bindLabel="districtName"
                                            id="district"
                                            name="district"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedDistrict"
                                            (change)="this.changeDistrict()"
                                            [disabled]="!this.selectedProvince"
                                            >
                                    <ng-option *ngFor="let item of lstDistrict">{{item.districtName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="subDistrict">Phường/Xã</label>
                                <ng-select  [clearable]="false"
                                            [hideSelected]="true"
                                            [items]="this.lstSubDistrict"
                                            bindLabel="subDistrictName"
                                            bindValue="id"
                                            id="subDistrict"
                                            name="subDistrict"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.selectedSubDistrict"
                                            (change)="this.changeSubDistrict()"
                                            [disabled]="!this.selectedDistrict"
                                            >
                                    <ng-option *ngFor="let item of lstSubDistrict">{{item.subDistrictName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="street">Street</label>
                                <ng-select  [clearable]="false"
                                            [hideSelected]="true"
                                            [items]="this.lstStreet"
                                            bindLabel="streetName"
                                            bindValue="id"
                                            id="street"
                                            name="street"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="this.userProfile.streetId"
                                            [disabled]="!this.selectedSubDistrict"
                                            >
                                    <ng-option *ngFor="let item of lstStreet">{{item.streetName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control"
                                    style="resize: none;"
                                    rows="3"
                                    id="address"
                                    name="address"
                                    [(ngModel)]="this.userProfile.address"
                                >
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
<br>
            <div>
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;&nbsp;<span
                   >Hủy</span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;&nbsp;<span>Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>
