<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-confirm-receipt-note-heading">Create or edit a Confirm Receipt Note</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!confirmReceiptNote.id">
                    <label for="id">Mã số</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="confirmReceiptNote.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employeeId">Mã nhân viên</label>
                    <input type="number" class="form-control" name="employeeId" id="field_employeeId"
                        [(ngModel)]="confirmReceiptNote.employeeId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceHeaderId">Mã hóa đơn</label>
                    <input type="number" class="form-control" name="invoiceHeaderId" id="field_invoiceHeaderId"
                        [(ngModel)]="confirmReceiptNote.invoiceHeaderId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Ghi chú</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="confirmReceiptNote.note" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerConfirm">Khách hàng xác nhận</label>
                    <input type="checkbox" class="form-control" name="customerConfirm" id="field_customerConfirm"
                        [(ngModel)]="confirmReceiptNote.customerConfirm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createDate">Ngày khởi tạo</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="createDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateDate">Ngày chỉnh sửa</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Hủy</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Lưu</span>
                </button>
            </div>
        </form>
    </div>
</div>
