<div>
    <br>
<br>
    <br>
<br>
    <br>
<br>
    <h2 id="page-heading">
        <span>Biên nhận</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-confirm-receipt-note" [routerLink]="['/confirm-receipt-note/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Tạo Biên nhận
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="confirmReceiptNotes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>Mã số</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span>Mã nhân viên</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceHeaderId"><span>Mã hóa đơn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span>Ghi chú</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerConfirm"><span>Khách hàng xác nhận</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span>Ngày khởi tạo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span>Ngày cập nhật</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let confirmReceiptNote of confirmReceiptNotes ;trackBy: trackId">
                <td><a [routerLink]="['/confirm-receipt-note', confirmReceiptNote.id, 'view' ]">{{confirmReceiptNote.id}}</a></td>
                <td>{{confirmReceiptNote.employeeId}}</td>
                <td>{{confirmReceiptNote.invoiceHeaderId}}</td>
                <td>{{confirmReceiptNote.note}}</td>
                <td>{{confirmReceiptNote.customerConfirm}}</td>
                <td>{{confirmReceiptNote.createDate | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{confirmReceiptNote.updateDate | date:'yyyy-MM-dd HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/confirm-receipt-note', confirmReceiptNote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Chi tiết</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/confirm-receipt-note', confirmReceiptNote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Sửa</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'confirm-receipt-note/'+ confirmReceiptNote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="confirmReceiptNotes && confirmReceiptNotes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
