<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="importInvoicePackage">
            <h2><span>Import Invoice Package</span> {{importInvoicePackage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Header Id</span></dt>
                <dd>
                    <span>{{importInvoicePackage.invoiceHeaderId}}</span>
                </dd>
                <dt><span>Item Total</span></dt>
                <dd>
                    <span>{{importInvoicePackage.itemTotal}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{importInvoicePackage.weight}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{importInvoicePackage.height}}</span>
                </dd>
                <dt><span>Length</span></dt>
                <dd>
                    <span>{{importInvoicePackage.length}}</span>
                </dd>
                <dt><span>Width</span></dt>
                <dd>
                    <span>{{importInvoicePackage.width}}</span>
                </dd>
                <dt><span>Delivered</span></dt>
                <dd>
                    <span>{{importInvoicePackage.delivered}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{importInvoicePackage.status}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{importInvoicePackage.note}}</span>
                </dd>
                <dt><span>Warehouse Id</span></dt>
                <dd>
                    <span>{{importInvoicePackage.warehouseId}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{importInvoicePackage.createDate}}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{importInvoicePackage.updateDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/import-invoice-package', importInvoicePackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
