<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subDistrict">
            <h2><span>Sub District</span> {{subDistrict.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tên Phường/Xã</span></dt>
                <dd>
                    <span>{{subDistrict.subDistrictName}}</span>
                </dd>
                <dt><span>Ngày khởi tạo</span></dt>
                <dd>
                    <span>{{subDistrict.createDate}}</span>
                </dd>
                <dt><span>Ngày chỉnh sửa</span></dt>
                <dd>
                    <span>{{subDistrict.updateDate}}</span>
                </dd>
                <dt><span>Mã Quận/Huyện</span></dt>
                <dd>
                    <div *ngIf="subDistrict.districtIdId">
                        <a [routerLink]="['/district', subDistrict.districtIdId, 'view']">{{subDistrict.districtIdId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
            </button>

            <button type="button"
                    [routerLink]="['/sub-district', subDistrict.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Chỉnh sửa</span>
            </button>
        </div>
    </div>
</div>
