<div class="modal-header">
    <h4 class="modal-title">Đăng ký</h4>
    <br>
<br>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="alert alert-success" *ngIf="success">
                <strong>Đã tạo tài khoản!</strong> Vui lòng kiểm tra email để kích hoạt sử dụng tài khoản.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Đăng ký thất bại!</strong> Vui lòng thử lại sau ít phút.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Tài khoản đã tồn tại!</strong> Vui lòng chọn tên đăng nhập khác.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email đã tồn tại!</strong> Vui lòng nhập Email khác.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Mật khẩu và xác nhận mật khẩu phải khớp nhau!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <!-- HaiNM -->
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.firstName" id="firstName" name="firstName" #login="ngModel" placeholder="Tên"  required minlength="1" maxlength="50">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="registerAccount.lastName" id="lastName" name="lastName" #login="ngModel" placeholder="Họ"  required minlength="1" maxlength="50">
                        </div>
                    </div>
                </div>
                <!-- HaiNM -->
                <div class="form-group">
                    <!-- <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Username"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$"> -->
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Vui lòng điền email.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Vui lòng điền email.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Vui lòng điền email.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Vui lòng điền email.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Vui lòng điền email.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Email không hợp lệ.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Email không hợp lệ.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Vui lòng điền email.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Mật khẩu"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Vui lòng điền mật khẩu.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Mật khẩu phải có ít nhất 4 ký tự.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Mật khẩu không dài quá 50 ký tự.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Nhập lại ật khẩu"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Vui lòng nhập lại mật khẩu.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Mật khẩu phải có ít nhất 4 ký tự.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Mật khẩu không dài quá 50 ký tự.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary form-control">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    <div class="form-group" style="text-align: center;">
        <span>Đã có tài khoản?</span>
    </div>
    <div class="form-group" style="text-align: center;">
        <button type="submit" class="btn btn-primary form-control" (click)="openLogin()">Đăng nhập</button>
    </div>
</div>
